<div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper" >
        <% sliderArray.forEach(element => { %>
          <div class="slider__cardWrapper swiper-slide">
            <div class="card border border-0 shadow">
              <div class="slider__cardImageWrapper">
                  <img src="/images/courses/<%- element.image %>" class="card-img-top" alt="Imagen <%- element.image %>" style="object-fit:fill; height: 150px;">
              </div>
              <div class="card-body d-flex flex-column justify-content-between" style="height: 45vh;">
                <h5 class="card-title"><%- element.name %> </h5>
                <h6 class="text-muted"><%= element.university.acronym%> | <%=element.faculty.acronym%> </h6>
                <p class="card-text"><%- element.review %> </p>
                
                  <a href="/materia/presentacion/<%- element.id %>">
                    <div class="button__dark">
                        <span>Más información</span>
                    </div>
                  </a>
                </div>
            </div>
          </div>  
        <% }) %>
      </div>
    </div>
    <div class="swiper-button-next text-dark opacity-25"></div>
    <div class="swiper-button-prev text-dark opacity-25"></div>
    <div class="swiper-pagination text-dark opacity-25"></div>
</div>
