<!-- Modal -->
<div class="modal fade" id="editMemberShip<%=id%>" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editMemberShip<%=id%>Label">Editar Membresía <%= name %> </h5>
         </div>
        <div class="modal-body">
          <form action="/memberships/update/<%= id %>?_method=PUT&mp_id=<%= mp_id %>" method="POST" enctype="multipart/form-data" class=" needs-validation" novalidate id="form-editMembership<%= id %>">
          
            <div class="card mb-3">
              <div class="card-header">
                Información en el sitio
              </div>
              <div class="card-body row">
                <div class="col-12 col-md-6  mb-3">
                  <label for="name<%= id %>" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name<%= id %>" name="name" aria-describedby="emailHelp" value="<%= name %>" required>
                </div>
                <div class="col-12 col-md-2 mb-3">
                  <label for="price<%= id %>" class="form-label">Precio</label>
                  <input type="number" class="form-control" name="price" id="price<%= id %>" value="<%= price %>">
                </div>
                <div class="col-12 col-md-2 mb-3">
                  <label for="quota<%= id %>" class="form-label">Materias</label>
                  <input type="number" class="form-control" name="quota" id="quota<%= id %>" value="<%= quota %>">
              </div>
              <div class="col-12 col-md-2 mb-3">
                <label for="days<%= id %>" class="form-label">Días</label>
                <input type="number" class="form-control" name="days" id="days<%= id %>" value="<%= days %>">
            </div>
                <div class="col-12 mb-3">
                    <label for="description<%= id %>" class="form-label">Descripción</label>
                    <textarea style="resize: none;" type="text" class="form-control" name="description" id="description<%= id %>"><%= description %></textarea>
                </div>
              </div>
            </div>
                <div class="col-12 mb-3 d-flex justify-content-end gap-3 order-4">
                  <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button type="submit" class="btn btn-outline-dark">Guardar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
