<!DOCTYPE html>
<%- include('./partials/head',{ title : ' Carrera' }) %>

    <body class="careers bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                      <li class="breadcrumb-item"><a href="/careers">Carreras</a></li>
                                      <li class="breadcrumb-item active" aria-current="page"> <%= name %> </li>
                                    </ol>
                                  </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                        <div class=" col-12 mb-3">
                                            <div class="d-flex align-items-center justify-content-between mb-3">
                                                <h3 class="form-label"><%= name %></h3>
                                                <a href="/careers/edit/<%= id %>" class="btn btn-sm btn-outline-success">Editar</a>
                                            </div>
                                            <h5 class=""><%= faculty.name %> | <%= university.name %> </h5>
                                            <p><%= description %> </p>
                                            <hr>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <p class="text-muted">Estadísticas </p>
                                        </div>
                            </div>
                           
                            </form>

                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
    </body>

    </html>