<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Nueva materia' }) %>

    <body class="courses bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/courses">Materias</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Nueva materia</li>
                                    </ol>
                                </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                               
                                        <form action="" class="row g-3 position-relative" enctype="multipart/form-data"
                                            method="POST" id="form-addInfo-course">

                                            <div class="col-12 col-lg-6">
                                                <div class="row">

                                                    <div class=" col-12 mb-3">
                                                        <label for="name" class="form-label">Nombre:</label>
                                                        <input type="text" class="form-control" id="name" name="name">
                                                    </div>


                                                    <div class=" col-12 mb-3">
                                                        <label for="review" class="form-label">Descripci칩n
                                                            corta:</label>
                                                        <textarea style="resize: none;" class="form-control" id="review"
                                                            rows="1" name="review"></textarea>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <label for="description" class="form-label">Descripci칩n
                                                            larga:</label>
                                                        <textarea style="resize: none;" class="form-control"
                                                            id="description" name="description" rows="2"></textarea>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <label for="description"
                                                            class="form-label">Aprender치s...:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="add-feature">
                                                            <span class="input-group-text btn btn-outline-success"
                                                                id="btn-add-feature"><i class="fa fa-check"
                                                                    aria-hidden="true"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <select name="features" id="features" multiple
                                                            style="height: 200px;" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="courses__videos--box col-12 col-lg-6 ">
                                                <div class="row ">
                                                    <div
                                                        class=" col-12 col-md-4 mb-3 d-flex align-items-center justify-content-center">
                                                        <video id="videoSource" src="" type="video/mp4" width="100%"
                                                            controls>
                                                    </div>
                                                    <div class="col-12 col-md-8 mb-3">
                                                        <div style="height: 120px; overflow: hidden;">
                                                            <img id="imagePreview" src="/images/noImage.png"
                                                                alt="imagen de portada"
                                                                style="object-fit:cover; object-position: center center;"
                                                                height="100%" width="100%">
                                                        </div>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <label for="universityId"
                                                            class="form-label">Universidad:</label>
                                                        <select class="form-select" name="universityId"
                                                            id="universityId">
                                                            <option value="" selected hidden>Seleccione...</option>
                                                            <% universities.forEach(university=> { %>
                                                                <option value="<%= university.id %>">
                                                                    <%= university.name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <label for="facultyId" class="form-label">Facultad:</label>
                                                        <select class="form-select" name="facultyId" id="facultyId">

                                                        </select>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <div class="d-flex justify-content-between">
                                                            <label for="careerId" class="form-label">Carreras</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" disabled type="checkbox"
                                                                    value="" id="check-all">
                                                                <label class="form-check-label" for="check-all">
                                                                    Todas
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <select class="form-select" name="careers" id="careers" multiple
                                                            style="height: 180px;">

                                                        </select>
                                                    </div>

                                                    <div class=" col-12 col-md-6">
                                                        <div class="mb-3">
                                                            <label for="teacherId"
                                                                class="form-label">Profesor/a:</label>
                                                            <select class="form-select" id="teacherId" name="teacherId">
                                                                <option value="" selected hidden>Seleccione...</option>
                                                                <% teachers.forEach(teacher=> { %>
                                                                    <option value="<%= teacher.id %>">
                                                                        <%= teacher.surname %>, <%= teacher.name %>
                                                                    </option>
                                                                    <% }) %>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="video" class="btn btn-outline-dark w-100"
                                                                class="form-label">Video de presentaci칩n</label>
                                                            <input type="file" hidden class="form-control" name="video"
                                                                id="video">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="image" class="btn btn-outline-dark w-100">Imagen
                                                                de portada</label>
                                                            <input type="file" hidden class="form-control" name="image"
                                                                id="image">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end align-items-end" style="height: 120px;">
                                                        <button class="btn btn-outline-dark " type="submit"
                                                            id="btn-submit">Guardar curso</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>


                            </div>

                            <div class="card-footer text-end">

                            </div>

                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
            <script src="/javascripts/abm.js"></script>
                <script src="/javascripts/courses.js"></script>
                <script>
                 
                </script>
    </body>

    </html>