<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Nueva materia' }) %>

    <body class="courses bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/courses">Materias</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Editando <%= course.name %> | <%= course.university.acronym %> | <%= course.faculty.acronym %></li>
                                    </ol>
                                </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link <%= next === 'info' && 'active' %>" id="info-tab"
                                            data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button"
                                            role="tab" aria-controls="info-tab-pane"
                                            aria-selected="true">Información</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link <%= next === 'units' && 'active' %>" id="units-tab"
                                            data-bs-toggle="tab" data-bs-target="#units-tab-pane" type="button"
                                            role="tab" aria-controls="units-tab-pane"
                                            aria-selected="false">Unidades</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link <%= next === 'notes' && 'active' %>" id="apuntes-tab"
                                            data-bs-toggle="tab" data-bs-target="#apuntes-tab-pane" type="button"
                                            role="tab" aria-controls="apuntes-tab-pane"
                                            aria-selected="false">Apuntes</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link <%= next === 'videos' && 'active' %>" id="videos-tab"
                                            data-bs-toggle="tab" data-bs-target="#videos-tab-pane" type="button"
                                            role="tab" aria-controls="videos-tab-pane"
                                            aria-selected="false">Videos</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link <%= next === 'tests' && 'active' %>" id="examenes-tab"
                                            data-bs-toggle="tab" data-bs-target="#examenes-tab-pane" type="button"
                                            role="tab" aria-controls="exame
                                            
                                            -tab-pane"
                        
                        
                                            aria-selected="false">Exámenes</button>
                                    </li>
                                    <li class="nav-item" role="presentation" hidden>
                                        <button class="nav-link text-dark" id="disabled-tab" data-bs-toggle="tab"
                                            data-bs-target="#disabled-tab-pane" type="button" role="tab"
                                            aria-controls="disabled-tab-pane" aria-selected="false"
                                            disabled>Disabled</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade <%= next === 'info' && 'show active' %> py-3"
                                        id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                                        <form action="/courses/update/<%= course.id %>?_method=PUT&section=info"
                                            class="row g-3 position-relative" enctype="multipart/form-data"
                                            method="POST" id="form-add-course">
                                            <div class="col-12 col-lg-6">
                                                <div class="row">

                                                    <div class=" col-12 mb-3">
                                                        <label for="name" class="form-label">Nombre:</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            value="<%= course.name %>">
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <label for="review" class="form-label">Descripción
                                                            corta:</label>
                                                        <textarea style="resize: none;" class="form-control" id="review"
                                                            rows="1" name="review"><%= course.review %></textarea>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <label for="description" class="form-label">Descripción
                                                            larga:</label>
                                                        <textarea style="resize: none;" class="form-control"
                                                            id="description" name="description"
                                                            rows="2"><%= course.description %></textarea>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <label for="description"
                                                            class="form-label">Aprenderás...:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="add-feature">
                                                            <span class="input-group-text btn btn-outline-dark"
                                                                id="btn-add-feature"><i class="fa fa-check"
                                                                    aria-hidden="true"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class=" col-12 mb-3">
                                                        <select name="features" id="features" multiple
                                                            style="height: 200px;" class="form-control">
                                                            <% course.features.forEach(feature=> { %>
                                                                <option value="<%= feature.content %>">
                                                                    <%= feature.content %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="courses__videos--box col-12 col-lg-6 ">
                                                <div class="row ">
                                                    <div
                                                        class=" col-12 col-md-4 mb-3 d-flex align-items-center justify-content-center">
                                                        <video id="videoSource" src="/videos?video=<%= course.video %>"
                                                            type="video/mp4" width="100%" controls>
                                                    </div>
                                                    <div class="col-12 col-md-8 mb-3">
                                                        <div style="height: 120px; overflow: hidden;">
                                                            <img id="imagePreview"
                                                                src="/images/courses/<%= course.image %>"
                                                                alt="imagen de portada"
                                                                style="object-fit:cover; object-position: center center;"
                                                                height="100%" width="100%">
                                                        </div>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <label for="universityId"
                                                            class="form-label">Universidad:</label>
                                                        <select class="form-select" name="universityId"
                                                            id="universityId">
                                                            <% universities.forEach(university=> { %>
                                                                <option value="<%= university.id %>"
                                                                    <%=university.id===course.universityId && 'selected'
                                                                    %> >
                                                                    <%= university.name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <label for="facultyId" class="form-label">Facultad:</label>
                                                        <select class="form-select" name="facultyId" id="facultyId">
                                                            <% faculties.forEach(faculty=> { %>
                                                                <option value="<%= faculty.id %>"
                                                                    <%=faculty.id===course.facultyId && 'selected' %> >
                                                                    <%= faculty.name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                    <div class=" col-12 col-md-6 mb-3">
                                                        <div class="d-flex justify-content-between">
                                                            <label for="careerId" class="form-label">Carreras</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" disabled type="checkbox"
                                                                    value="" id="check-all">
                                                                <label class="form-check-label" for="check-all">
                                                                    Todas
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <select class="form-select" name="careers" id="careers" multiple
                                                            style="height: 180px;">
                                                            <% course.careers.forEach(career=> { %>
                                                                <option value="<%= career.id %>" selected>
                                                                    <%= career.name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>

                                                    <div class=" col-12 col-md-6">
                                                        <div class="mb-3">
                                                            <label for="teacherId"
                                                                class="form-label">Profesor/a:</label>
                                                            <select class="form-select" id="teacherId" name="teacherId">
                                                                <% teachers.forEach(teacher=> { %>
                                                                    <option value="<%= teacher.id %>"
                                                                        <%=teacher.id===course.teacherId && 'selected'
                                                                        %> >
                                                                        <%= teacher.surname %>, <%= teacher.name %>
                                                                    </option>
                                                                    <% }) %>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="video" class="btn btn-outline-dark w-100"
                                                                class="form-label">Video de presentación</label>
                                                            <input type="file" hidden class="form-control" name="video"
                                                                id="video">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="image" class="btn btn-outline-dark w-100">Imagen
                                                                de portada</label>
                                                            <input type="file" hidden class="form-control" name="image"
                                                                id="image">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end align-items-end"
                                                        style="height: 120px;">
                                                        <button class="btn btn-outline-dark " type="submit"
                                                            id="btn-submit">Guardar cambios</button>
                                                    </div>

                                                </div>

                                            </div>


                                        </form>

                                    </div>
                                    <div class="tab-pane fade <%= next === 'units' && 'show active' %>"
                                        id="units-tab-pane" role="tabpanel" aria-labelledby="units-tab" tabindex="0">
                                        <form action="/units/update/<%= course.id %>?_method=PUT"
                                            class="row mx-0 mx-lg-3 mt-2 mt-lg-3" id="form-update-units" method="POST">
                                            <% course.units.sort((a,b)=> a.number > b.number ? 1 : a.number < b.number ?
                                                    -1 : 0).forEach((unit, index)=> { %>
                                                    <% if (index < (course.units.length / 2).toFixed(0)) { %>
                                                        <div class="col-12 col-md-2  col-lg-1 mb-3">
                                                            <div class="d-flex gap-1">
                                                                <input id="number<%= unit.id %>" type="text"
                                                                    class="form-control" value="<%= unit.number %>"
                                                                    name="numbers"
                                                                    onchange="check(event,'<%=course.id%>')"
                                                                    data-unit="<%= unit.number %>"
                                                                    onfocus="this.classList.remove('is-invalid')">
                                                                <input type="text" name="ids" hidden
                                                                    value="<%= unit.id %>">
                                                            </div>
                                                        </div>
                                                        <div class="col-12  col-md-10 col-lg-5 mb-3">
                                                            <div class="d-flex gap-1">
                                                                <input id="name<%= unit.id %>" type="text"
                                                                    class="form-control" value="<%= unit.name %>"
                                                                    name="names">
                                                                <button type="button" class="btn btn-sm btn-danger"
                                                                    onclick="removeUnit('<%=unit.id%>','<%=course.id%>')"><i
                                                                        class="fa fa-times"
                                                                        aria-hidden="true"></i></button>
                                                            </div>
                                                        </div>
                                                        <% } %>

                                                <% }) %>
                                                <% for( let i=(course.units.sort((a,b)=> a.number >
                                                    b.number ? 1 : a.number < b.number ? -1 : 0).length
                                                        / 2).toFixed(0); i < course.units.sort((a,b)=>
                                                        a.number > b.number ? 1 : a.number < b.number ?
                                                            -1 : 0).length; i++ ) { %>
                                                            <div class="col-12 col-md-2 col-lg-1 mb-3">
                                                                <input
                                                                    id="number<%= course.units[i].id %>"
                                                                    type="text" class="form-control"
                                                                    value="<%= course.units[i].number %>"
                                                                    name="numbers">
                                                                <input type="text" name="ids" hidden
                                                                    value="<%= course.units[i].id %>">
                                                            </div>
                                                            <div class="col-12 col-md-10 col-lg-5 mb-3">
                                                                <div class="d-flex gap-1">
                                                                    <input
                                                                        id="name<%= course.units[i].id %>"
                                                                        type="text" class="form-control"
                                                                        value="<%= course.units[i].name %>"
                                                                        name="names">
                                                                    <button type="button"
                                                                        class="btn btn-sm btn-danger"
                                                                        onclick="removeUnit('<%=course.units[i].id%>','<%=course.id%>')"><i
                                                                            class="fa fa-times"
                                                                            aria-hidden="true"></i></button>
                                                                </div>
                                                            </div>
                                                    <% } %>
                                                <div class="col-12 text-end">
                                                    <button type="button"
                                                        class="btn btn-outline-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"
                                                        id="btn-modal-addUnit">
                                                        Nueva unidad
                                                    </button>
                                                    <button class="btn btn-outline-dark"
                                                        type="submit">Guardar
                                                        unidades</button>
                                                </div>
                                        </form>
                                        <%- include('./modals/addUnit') %>


                                    </div>
                                    <div class="tab-pane fade <%= next === 'notes' && 'show active' %>"
                                        id="apuntes-tab-pane" role="tabpanel" aria-labelledby="apuntes-tab"
                                        tabindex="0">
                                        <form action="/courses/update/<%= course.id %>?_method=PUT&section=notes"
                                            class="row mx-3 g-3 position-relative mt-2 mt-lg-3"
                                            enctype="multipart/form-data" method="POST" id="form-addNotes-course">
                                            <div class="col-12" id="box-store-notes">
                                                <label for="" class="form-label">Apuntes actuales:</label>
                                                <% if (course.notes.length> 0) { %>
                                                    <% course.notes.forEach((note,index)=> { %>
                                                        <div class="d-flex align-items-center gap-2"
                                                            id="storeNote<%= note.id %>">
                                                            <div class="d-flex gap-2 align-items-center w-100 ">
                                                                <p class="fs-2 text-danger">
                                                                    <i class="fa fa-file-pdf-o"></i>
                                                                </p>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text"
                                                                        id="basic-addon3">Título</span>
                                                                    <input type="text" class="form-control"
                                                                        aria-describedby="basic-addon3"
                                                                        value="<%= note.title %>">
                                                                </div>
                                                                <p class="fs-2 text-danger"
                                                                    onclick="removeNote('<%=note.id%>', '<%=note.file%>')">
                                                                    <i class="fa fa-times"></i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                <% }else{ %>
                                                    <p class="alert alert-warning">El curso aún no tiene
                                                        apuntes agregados</p>
                                                    <% } %>

                                            </div>
                                            <hr>
                                            <div class="col-12 mb-3" id="box-notes">
                                                <label for="" class="form-label">Agregar nuevos apuntes:</label>
                                                <div class="d-flex align-items-center gap-2" id="box1">
                                                    <div class="mb-3">
                                                        <label id="label1" class="fs-2 text-danger d-none"><i
                                                                class="fa fa-file-pdf-o"></i></label>
                                                        <input class="form-control" type="file" id="note" name="note"
                                                            accept=".pdf" data-box="1" onchange="addInput(event)">
                                                    </div>

                                                    <div id="box-note1"
                                                        class="d-flex gap-2 align-items-center w-100 d-none">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text"
                                                                id="basic-addon3">Título</span>
                                                            <input type="text" class="form-control" id="title1"
                                                                aria-describedby="basic-addon3" name="titles" disabled>
                                                        </div>
                                                        <p class="fs-2 text-danger" onclick="removeInput('box1')">
                                                            <i class="fa fa-times"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 text-end">
                                                <button class="btn btn-outline-dark " type="submit"
                                                    id="btn-submit">Guardar apuntes</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade <%= next === 'videos' && 'show active' %>"
                                        id="videos-tab-pane" role="tabpanel" aria-labelledby="videos-tab" tabindex="0">
                                        <div class="mx-3 mt-2 mt-lg-3">
                                            <% if (course.videos.length> 0) { %>
                                                <div class="accordion" id="accordionPanelsStayOpenExample">

                                                <%course.faculty.categories.forEach((category,index) => {%>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="panelsStayOpen-heading<%=category.id%>">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=category.id%>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%=category.id%>">
                                                            <%= category.name %>
                                                        </button>
                                                        </h2>
                                                        <div id="panelsStayOpen-collapse<%=category.id%>" class="accordion-collapse collapse <%= next === 'videos' ? 'show' : !index ? 'show' : null %>" aria-labelledby="panelsStayOpen-heading<%=category.id%>">
                                                        <div class="accordion-body">
                                                            <ul class="list-group list-group-flush">
                                                                <%if(category.videos.length){%>
                                                                    <%category.videos.forEach(video => {%>
                                                                        <li class="list-group-item d-flex justify-content-between">

                                                                            <div class="d-flex align-items-center gap-2">
                                                                                <strong><%= video.order%>.- <%=video.title%></strong> | <%=video.length%> min
                                                                            </div>
                                                                            <div>
                                                                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                                                                    <i class="fas fa-play"></i>
                                                                                </button>
                                                                                <%- include('./modals/showVideo',{
                                                                                    video
                                                                                })%>
                                                                                <label class="btn <%=video.locked ? 'btn-sm btn-dark' : 'btn-sm btn-warning'%>" for="changeLocked<%= video.id %>" id="changeLocked-label<%= video.id %>">
                                                                                    <% if(video.locked) {%>
                                                                                        <i class="fas fa-lock"></i>
                                                                                    <%}else{%>
                                                                                        <i class='fas fa-unlock'></i>
                                                                                    <%}%>
                                                                                </label>
                                                                                <input type="checkbox"
                                                                                    id="changeLocked<%= video.id %>" <%= video.locked && 'checked' %>  hidden onchange="this.value=this.checked; changeLocked('<%=video.id%>',event)">
                                                                                <button type="button"
                                                                                    class="btn btn-sm btn-success"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#modalEditVideo<%=video.id%>"
                                                                                    id="btn-modal-editVideo<%=video.id%>">
                                                                                    <i class="fas fa-edit"></i>
                                                                                </button>
                                                                                <span class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></span>    
                                                                            </div>
                                                                        </li>
                                                                        <%- include('./modals/editVideo',{
                                                                            video
                                                                        }) %>
                                                                    <%})%>
                                                                <%}else{%>
                                                                    <p class="alert alert-warning">No hay videos agregados</p>
                                                                <%}%>
                                                            </ul>
                                                        </div>
                                                        </div>
                                                    </div>
                                                <%})%>
                                                </div>
                                               
                                            <% }else{ %>
                                                <p class="alert alert-warning">El curso aún no tiene
                                                    videos agregados</p>
                                                <% } %>
                                                <div class="text-end">
                                                    <!--
                                                    <button type="button"
                                                        class="btn btn-outline-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#exampleModalVideo"
                                                        id="btn-modal-addVideo">
                                                        Agregar video
                                                    </button>
                                                -->
                                                    <a class="btn btn-outline-primary" href="/videos/add/<%=course.id%>">Agregar video</a>
                                                </div>
                                            <%- include('./modals/addVideo') %>
                                        </div>    
                                    </div>
                                    <div class="tab-pane fade <%= next === 'tests' && 'show active' %>"
                                        id="examenes-tab-pane" role="tabpanel" aria-labelledby="examenes-tab"
                                        tabindex="0">
                                        <div class="row mx-3 mt-2 mt-lg-3">

                                            <%if(course.tests.length){%>
                                                <div class="col-12 col-lg-6 mb-3 px-lg-1">
                                                    <ol class="list-group">
                                                        <%for (let i = 0; i < course.tests.length / 2; i++) {%>
                                                        <li class="list-group-item d-flex flex-column flex-md-row justify-content-between">
                                                            <a href="/tests/edit/<%=course.tests[i].id%>?course=<%=course.id%>"><%=course.tests[i].name%></a>
                                                            <div class="text-secondary">
                                                                <span><b><%=course.tests[i].questions.length%></b> preguntas</span> | <span><b><%=course.tests[i].time%></b> minutos</span>
                                                            </div> 
                                                        </li>
                                                    <%}%>
                                                    </ol>
                                                   
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3 px-md-1">
                                                    <ol class="list-group ">
                                                    <%for (let i = Math.round(course.tests.length / 2); i < course.tests.length; i++) {%>
                                                        <li class="list-group-item d-flex flex-column flex-md-row justify-content-between">
                                                            <a href="/tests/edit/<%=course.tests[i].id%>?course=<%=course.id%>"><%=course.tests[i].name%></a>
                                                            <div class="text-secondary">
                                                                <span><b><%=course.tests[i].questions.length%></b> preguntas</span> | <span><b><%=course.tests[i].time%></b> minutos</span>
                                                            </div> 
                                                        </li>
                                                    <%}%> 
                                                </ol>
                                                </div>
                                                
                                            <%}else{%>
                                                <p class="alert alert-warning">El curso aún no tiene exámenes agregados</p>
                                               
                                            <%}%>
                                            <div class="text-end">
                                                    <a class="btn btn-outline-primary" href="/tests/add/<%=course.id%>">Agregar exámen</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel"
                                        aria-labelledby="disabled-tab" tabindex="0">...</div>
                                </div>
                            </div>

                            <div class="card-footer text-end">


                            </div>
                    </div>

                    </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
                <script src="/javascripts/courses.js"></script>
              <script src="/javascripts/courseEdit.js"></script>
    </body>

    </html>