<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Nueva materia' }) %>

    <body class="courses bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/courses">Materias</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Nueva materia</li>
                                    </ol>
                                </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                <form action="" class="row g-3" enctype="multipart/form-data" method="POST">
                                    <div class="col-12 col-md-7">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <img src="/images/exampleBanner.jpeg" alt="" class="img-fluid">
                                            </div>
                                            <div class=" col-12 col-md-8 mb-3">
                                                <label for="name" class="form-label">Nombre:</label>
                                                <input type="text" class="form-control" id="name" name="name">
                                            </div>
                                            <div class=" col-12 col-md-4 mb-3 d-flex ">
                                                <label for="formFile"
                                                    class="btn bt btn-outline-dark w-100 align-self-end">Portada</label>
                                                <input hidden class="form-control" type="file" name="image"
                                                    id="formFile">
                                            </div>
                                            <div class=" col-12 col-md-6 mb-3">
                                                <label for="universityId" class="form-label">Universidad:</label>
                                                <select class="form-select" name="universityId" id="universityId">
                                                    <option value="" selected hidden>Seleccione...</option>
                                                    <% universities.forEach(university=> { %>
                                                        <option value="<%= university.id %>">
                                                            <%= university.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class=" col-12 col-md-6 mb-3">
                                                <label for="facultyId" class="form-label">Facultad:</label>
                                                <select class="form-select" name="facultyId" id="facultyId">

                                                </select>
                                            </div>
                                            <div class=" col-12 col-md-6 mb-3">
                                                <label for="careerId" class="form-label">Carreras</label>
                                                <select class="form-select" name="careerId" id="careerId" multiple
                                                    style="height: 130px;">

                                                </select>
                                            </div>

                                            <div class=" col-12 col-md-6">
                                                <div class="mb-3">
                                                    <label for="teacherId" class="form-label">Profesor/a:</label>
                                                    <select class="form-select" id="teacherId" name="teacherId">
                                                        <option value="" selected hidden>Seleccione...</option>
                                                        <% teachers.forEach(teacher=> { %>
                                                            <option value="<%= teacher.id %>">
                                                                <%= teacher.surname %>, <%= teacher.name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="video" class="form-label">Video de presentación</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class=" col-12 mb-3">
                                                <label for="review" class="form-label">Descripción corta:</label>
                                                <textarea style="resize: none;" class="form-control" id="review"
                                                    rows="2" name="review"></textarea>
                                            </div>
                                            <div class=" col-12 mb-3">
                                                <label for="description" class="form-label">Descripción larga:</label>
                                                <textarea style="resize: none;" class="form-control" id="description"
                                                    name="description" rows="4"></textarea>
                                            </div>
                                            <div class=" col-12 mb-3" id="box-notes">
                                                <label for="" class="form-label">Apuntes</label>
                                                <div class="d-flex align-items-center gap-2" id="box1">
                                                    <div class="mb-3">
                                                        <label id="label1" class="fs-2 text-danger d-none"><i class="fa fa-file-pdf-o"></i></label>
                                                        <input class="form-control" type="file" id="note"  name="note"
                                                            accept=".pdf" data-box="1" onchange="addInput(event)">
                                                    </div>
                                                   
                                                    <div id="box-note1" class="d-flex gap-2 align-items-center w-100 d-none">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text"
                                                                id="basic-addon3">Título</span>
                                                            <input type="text" class="form-control" id="title1"
                                                                aria-describedby="basic-addon3" name="titles">
                                                        </div>
                                                        <p class="fs-2 text-danger" onclick="removeInput('box1')">
                                                            <i class="fa fa-times"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-12 col-md-6 mb-3">
                                                <div class="mb-2">
                                                    <label for="area" class="form-label">Exámenes</label>
                                                    <select class="form-select" multiple id="tests" name="tests">
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="courses__videos--box col-12 col-md-5">
                                        <div class="d-flex flex-wrap justify-content-between gap-2">
                                            <% for( let i=0; i < 24; i++ ) { %>
                                                <article class="card courses__card">
                                                    <img src="/images/videoPreview.png" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Video title</h5>
                                                        <div class="d-flex justify-content-around">
                                                            <div class=" mb-2">
                                                                <label class="fs-4" for="locked">
                                                                    <i class="fas fa-lock"></i>
                                                                </label>
                                                                <input type="checkbox" value="" id="locked" checked
                                                                    hidden>

                                                            </div>
                                                            <a href="" class="fs-4 text-danger"><i
                                                                    class="fas fa-trash"></i></a>
                                                        </div>

                                                        <div class="mb-2">
                                                            <select class="form-select form-select-sm" id="order"
                                                                aria-label=".form-select-sm example">
                                                                <option selected hidden>Orden...</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-2">
                                                            <select class="form-select form-select-sm" id="order"
                                                                aria-label=".form-select-sm example">
                                                                <option selected hidden>Categoría...</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </article>
                                                <% } %>
                                        </div>
                                    </div>

                                    <div class="card-footer text-end">
                                        <button class="btn btn-outline-dark" type="submit">Guardar</button>
                                    </div>

                                </form>

                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
            <script src="/javascripts/courses.js"></script>
    </body>

    </html>