<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Editar área' }) %>

    <body class="areas bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                      <li class="breadcrumb-item"><a href="/faculties">Facultades</a></li>
                                      <li class="breadcrumb-item active" aria-current="page">Editar facultad</li>
                                    </ol>
                                  </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                <form action="/faculties/update/<%= id %>?_method=PUT" class="row g-2" enctype="multipart/form-data" method="POST">
                                    <div class="col-12 col-md-4 text-center">
                                        <img class="img-fluid" id="imgPrev" width="150px" src="/images/logos/<%= image %>"
                                        alt="vista previa">
                                        <div class="d-flex justify-content-center my-3">
                                            <div class="">
                                                <label for="formFile" class="btn btn-outline-dark" id="btn-formFile"><%= image ? "Editar" : "Agregar" %> 
                                                    imagen</label>
                                                <input hidden class="form-control" type="file" id="formFile"
                                                    name="image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Nombre:</label>
                                            <input type="text" class="form-control" id="name" name="name" value="<%= name %>">
                                        </div>
                                        <div class="mb-3">
                                            <label for="acronym" class="form-label">Siglas:</label>
                                            <input type="text" class="form-control" id="acronym" name="acronym" value="<%= acronym %>">
                                        </div>
                                        <div class="mb-3">
                                            <label for="universityId" class="form-label">Universidad:</label>
                                            <select name="universityId" id="universityId" class="form-control">
                                                <% universities.forEach(u => { %>
                                                 <option <%= university.id === u.id && 'selected' %>  value="<%= u.id %>"><%= u.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer text-end">
                                <a href="/faculties/detail/<%= id %>" class="btn btn-outline-secondary">Cancelar</a>
                                <button class="btn btn-outline-dark" type="submit">Guardar</button>
                            </div>
                            </form>

                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
    </body>

    </html>