<!DOCTYPE html>
<%- include('./partials/head',{
    title : 'Facultades'
}) %> 
<body class="faculties bg-secondary">
    <%- include('./partials/header') %> 
    <main class="container">
        <section class="row mt-2 mt-md-3 mt-lg-5">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
             
                <article class="card shadow">
                    <div class="card-header ">
                      <div class="row g-2">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Membresías</li>
                              </ol>
                            </nav>
                          <hr>
                        </div>
                    </div>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col" class="text-center">Membresía</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Materias</th>
                                    <th scope="col">Días</th>
                                    <th scope="col">Por referidos</th>
                                    <th scope="col">Suscriptores</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% memberships.forEach(({id,name,price,quota,days, users,image,description, mp_checkout, mp_id}) => { %>
                                    <% if (name !== 'FREE') { %>
                                      <tr>
                                        <td class="align-middle">
                                          <div class="badge bg-<%= name.toLowerCase() %> w-100 py-3 <%= name === 'FREE' && 'bg-secondary' %> "> <%= name %></div>
                                        </td>
                                        <td class="align-middle">$ <%= price %></td>
                                        <td class="align-middle"><%= quota %></td>
                                        <td class="align-middle"><%= days %></td>
                                        <td class="align-middle"><%= users.map(user => user.freeMembership && user.membershipId == id).reduce((acum, num) => acum + num , 0) %></td>
                                        <td class="align-middle"><%= users.map(user => !user.freeMembership && user.membershipId == id).reduce((acum, num) => acum + num , 0) %></td>                                        <td class="align-middle">
                                          <div class="d-flex align-items-center gap-2">
                                           <!--  <a href="/memberships/detail/<%= id %>" class="btn btn-sm btn-outline-primary">+info</a> -->
                                            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#editMemberShip<%=id%>" onclick="resetModal('<%=id%>', '<%=mp_id%>')">
                                              editar
                                            </button>
                                            <%-include('modals/editMembership',{
                                              id: id,
                                              name : name,
                                              price: price,
                                              quota : quota,
                                              days : days,
                                              description : description,
                                              mp_checkout : mp_checkout,
                                              mp_id : mp_id
                                            }) %> 
                                          </div>
                                        </td>
                                      </tr>
  
                                    <% } %>
                                  <% }) %>
                                 
                                </tbody>
                              </table>
                        </div>
                    </div>
                       
                    </div>
                </article>
               
            </div>
        </section>

    </main>
    <%- include('./partials/scripts') %> 
    <script src="/javascripts/editMembership.js"></script>
</body>
</html>