<!DOCTYPE html>
<%- include('./partials/head',{ title : 'Nueva universidad' }) %>

    <body class="universities bg-light">
        <%- include('./partials/header') %>
            <main class="container">
                <section class="row mt-2 mt-md-3 mt-lg-5">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <article class="card shadow">
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                      <li class="breadcrumb-item"><a href="/courses/edit/<%= course.id %>?next=tests"><%= course.name %> | <%= course.faculty.acronym %></a></li>
                                      <li class="breadcrumb-item active" aria-current="page">Editar exámen</li>
                                    </ol>
                                  </nav>
                                <hr>
                            </div>
                            <div class="card-body">
                                <form action="/tests/update/<%= test.id %>?_method=PUT" method="POST">
                                    <div class="col-12 mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Exámen:
                                            </span>
                                            <input type="text" name="name" class="form-control" value="<%= test.name %>">
                                          </div>
                                    </div>
                                    <div id="questions">
                                        <% if (test.questions.length) { %>
                                            <% test.question.forEach(question => { %>
                                                <ul class="list-group mb-3">
                                                    <li class="list-group-item">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text" id="basic-addon1">1</span>
                                                            <input type="text" name="question<%= test.id %>" class="form-control" value="<%= question.content %>">
                                                          </div>
                                                          <% test.answers.forEach(answer => { %>
                                                            <div class="input-group d-flex align-items-center gap-2 mb-3">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="answerCorrect<%= answer.id %>" value="<%= answer.correct %>">
                                                                </div>
                                                                <input type="text" class="form-control" name="answer<%= answer.id %>" value="<%= answer.content %>">
                                                                <label class="input-group-text fs-4" for="answer<%= answer.id %>" style="cursor: pointer;"><i class="fas fa-image"></i></label>
                                                                <input type="file" hidden id="answer<%= answer.id %>" name="image<%= answer.id %>">
                                                            </div>
                                                          <% }) %>
                                                    </li>
                                                </ul>
                                            <% }) %>
                                           
                                        <% }else{%>
                                            <p class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> El exámen aún no tiene preguntas asignadass</p>
                                        <% }%>
                                           
                                    </div>
                                   
                                       
                                   <div class="col-12 d-flex justify-content-between">
                                        <button 
                                            type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addQuestion"
                                            id="btn-addQuestion">
                                            Añadir pregunta
                                        </button>
                                    <button type="submit" class="btn btn-outline-dark">Guardar exámen</button>
                                   </div>
                                   
                                  
                                </form>
                                <%- include('modals/addQuestion',{
                                    test
                                }) %> 

                            </div>
                        </article>

                    </div>
                </section>

            </main>
            <%- include('./partials/scripts') %>
            <script>
                window.addEventListener('load', () => {
                   let query = new URLSearchParams(window.location.search)
                   if(query.has('new')){
                    $('btn-addQuestion').click()
                   }
                });
                $('addQuestion').addEventListener('hidden.bs.modal', () => {
                    $('question').value = null;
                    const inputAnswers = document.querySelectorAll('.new-question');
                    for (let i = 0; i < inputAnswers.length; i++) {
                        inputAnswers[i].value = null  
                    }
                   const inputChecks = document.querySelectorAll('.form-check-input');
                   for (let i = 0; i < inputChecks.length; i++) {
                        inputChecks[i].checked = false;
                        inputChecks[i].disabled = true;
                    }
                    const inputFiles = document.querySelectorAll('.input-file');
                    for (let i = 0; i < inputFiles.length; i++) {
                        inputFiles[i].value = null
                    }
                })
            </script>
    </body>

    </html>