<!DOCTYPE html>
<%- include('./partials/head',{
    title : 'Facultades'
}) %> 
<body class="faculties bg-light">
    <%- include('./partials/header') %> 
    <main class="container">
        <section class="row mt-2 mt-md-3 mt-lg-5">
            <div class="col-12 col-md-10 mx-auto">
             
                <article class="card shadow">
                    <div class="card-header">
                        <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                          <div >
                              <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                                </ol>
                              </nav>
                          </div>
                          <form class="d-flex" role="search" action="/users" onsubmit="event.preventDefault();document.getElementById('search').value.trim().length !== 0 ? this.submit() : null">
                            <input style="width: 200px;" class="form-control me-2" name="search" id="search" type="search" placeholder="email, nombre o apellido" aria-label="Search">
                            <input type="text" hidden name="page" value="1">
                            <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
                          </form>
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <% if (paginate.hasPreviousPages || paginate.hasNextPages(pageCount)) { %>
                                <% if (paginate.hasPreviousPages) { %>
                                  <li class="page-item">
                                    <a class="page-link" href="<%= paginate.href(true).prev %>" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                <% } %>
                                <% if (pages) { %>
                                  <% pages.forEach(page => { %>
                                    <li class="page-item <%= page.number === currentPage && 'active' %>"><a class="page-link" href="<%= page.url %>"><%= page.number %></a></li>
                                  <% }) %>
                                <% } %>
                                <% if (paginate.hasNextPages(pageCount)) { %>
                                  <li class="page-item">
                                    <a class="page-link" href="<%= paginate.href() %>" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                <% } %>
                               
                              <% } %>
                             
                            </ul>
                          </nav>
                      </div>
                      <div>
                        <% if (search) { %>
                          <div class="d-flex gap-2">
                            <a href="/users?page=1" class="text-danger"><i class="fa fa-times"></i></a>
                            <p>Resultado de la búsqueda: <b>"<%= search %>"</b></p>

                          </div>
                        <% } %>
                      </div>
                    </div>
                    <div class="card-body">
                      <% if (search && users.length === 0) { %>
                        <div class="alert alert-warning">No hay resultados</div>
                      <% }else{ %>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Membresía</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Registrado</th>
                                    <th scope="col">Miembro</th>
                                    <th scope="col">Caduca</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% users.forEach((user) => { %>
                                    <tr>
                                        <th class="align-middle"><%= user.membership ? user.membership.name.toUpperCase() : 'FREE' %> </th>
                                      <th class="align-middle"><%= user.name %> <%= user.surname %> </th>
                                      <td class="align-middle"><%= user.email %></td>
                                      <td class="align-middle"><%= moment(user.createdAt).format('DD/MM/YY') %></td>
                                      <td class="align-middle"><%= user.entry ? moment(user.entry).format('DD/MM/YY') : '--' %></td>
                                      <td class="align-middle"><%= user.expires ? moment(user.expires).format('DD/MM/YY') : '--' %></td>
                                        <td class="align-middle">
                                        <% if (user.freeMembership && user.membershipId) { %>
                                            <span class="badge text-bg-success">Refiriendo</span>
                                        <% }else if(!user.freeMembership && user.membershipId){ %>
                                            <span class="badge text-bg-primary">Subscripto</span>
                                        <% }else{ %>
                                          <span class="badge text-bg-secondary">Registrado</span>
                                          <% } %>
                                        </td>
                                      <td class="align-middle">
                                        <div class="d-flex align-items-center gap-2">
                                          <a href="/users/detail/<%= user.id %>" class="btn btn-sm btn-outline-primary">+info</a>
                                        </div>
                                      </td>
                                    </tr>
                                  <% }) %>
                                 
                                </tbody>
                              </table>
                        </div>
                        <% } %>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                       
                    </div>
                </article>
               
            </div>
        </section>

    </main>
    <%- include('./partials/scripts') %> 
</body>
</html>