<!DOCTYPE html>
<%- include('./partials/head',{
    title : 'Facultades'
}) %> 
<body class="faculties bg-light">
    <%- include('./partials/header') %> 
    <main class="container">
        <section class="row mt-2 mt-md-3 mt-lg-5">
            <div class="col-12 col-md-10 mx-auto">
             
                <article class="card shadow">
                    <div class="card-header">
                      <div class="row g-2">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                              </ol>
                            </nav>
                          <hr>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <select class="form-select">
                                <option selected hidden>Ordenar por</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <select class="form-select">
                                <option selected hidden>Filtar por</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark" type="submit">Buscar</button>
                              </form>
                        </div>
                    </div>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Membresía</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Registrado</th>
                                    <th scope="col">Miembro</th>
                                    <th scope="col">Caduca</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% users.forEach((user) => { %>
                                    <tr>
                                        <th class="align-middle"><%= user.membership ? user.membership.name.toUpperCase() : 'FREE' %> </th>
                                      <th class="align-middle"><%= user.name %> <%= user.surname %> </th>
                                      <td class="align-middle"><%= user.email %></td>
                                      <td class="align-middle"><%= moment(user.createdAt).format('DD/MM/YY') %></td>
                                      <td class="align-middle"><%= user.entry ? moment(user.entry).format('DD/MM/YY') : '--' %></td>
                                      <td class="align-middle"><%= user.expires ? moment(user.expires).format('DD/MM/YY') : '--' %></td>
                                        <td class="align-middle">
                                        <% if (user.status) { %>
                                            <span class="badge text-bg-success">Activo</span>
                                        <% }else{ %>
                                            <span class="badge text-bg-warning">Pasivo</span>
                                        <% } %>
                                        </td>
                                      <td class="align-middle">
                                        <div class="d-flex align-items-center gap-2">
                                          <a href="/users/detail/<%= user.id %>" class="btn btn-sm btn-outline-primary">+info</a>
                                        </div>
                                      </td>
                                    </tr>
                                  <% }) %>
                                 
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                       
                    </div>
                </article>
               
            </div>
        </section>

    </main>
    <%- include('./partials/scripts') %> 
</body>
</html>