<!DOCTYPE html>
<%- include('./partials/head',{
    title : 'Materias'
}) %> 
<body class="materias bg-light">
    <%- include('./partials/header') %> 
    <main class="container">
        <section class="row mt-2 mt-md-3 mt-lg-5">
            <div class="col-12  mx-auto">
             
                <article class="card shadow">
                    <div class="card-header">
                      <div class="row g-2">
                        <div class="col-12 d-flex justify-content-between">
                            <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="/courses/edit/<%= course.id %>"><%= course.name %> | <%= course.faculty.acronym %> </a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nuevo video</li>

                              </ol>
                            </nav>
                        </div>
                       <hr>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form action="/videos/add?course=<%= course.id %>" class="row mx-3 g-3 mt-2 mt-lg-3 needs-validation" method="POST" id="form-updateVideos-course" enctype="multipart/form-data" novalidate>
                                    <div class="col-12 col-lg-4">
                                        <div class="mb-3 has-validation">
                                            <input type="file" class="form-control" id="resource"
                                                name="resource" accept="video/*" hidden required>
                                            <video id="resourceTag" controls width="100%" onchange="console.log('epaaa')">
                                                <source 
                                                    id="resourcePreview"
                                                    src=""
                                                    type="video/mp4"
                                                    
                                                >
                                                <p class="alert alert-danger">Upss, su navegador no soporta la reproducción de videos</p>
                                            </video>
                                            <small class="text-danger" id="errorVideo"></small>
                                            <div class="invalid-feedback">
                                                Debe cargar un video
                                              </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="resource" id="resourceLabel"
                                                class="btn btn-outline-dark w-100 mb-3">Subir
                                                video</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-8">
                                                <div
                                                    class="d-flex flex-column align-items-md-center flex-md-row mb-3">
                                                    <label for="length"
                                                        class="form-label me-2">Duración:</label>
                                                    <div class="input-group has-validation">
                                                        <input type="number"
                                                            class="form-control" min="0" name="length" id="length" required>
                                                        <span class="input-group-text"
                                                            for="">min</span>
                                                            <div class="invalid-feedback">
                                                                Debe indicar la duración
                                                              </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="d-flex justify-content-around">
                                                    <div class=" mb-3">
                                                        <label class="fs-4" for="locked" id="label-locked">
                                                            <i class="fas fa-lock"></i>
                                                        </label>
                                                        <input type="checkbox" 
                                                            id="locked" checked hidden onchange="document.getElementById('label-locked').innerHTML = this.checked ? `<i class='fas fa-lock'></i>` : `<i class='fas fa-lock-open'></i>`" name="locked">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <div class="has-validation">
                                                    <label for="title"
                                                    class="form-label">Título</label>
                                                <input type="text" id="title"
                                                    class="form-control" name="title" required>
                                                    <div class="invalid-feedback">
                                                        Debe escribir un título
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="has-validation">
                                                    <label for="description"
                                                    class="form-label">Descripción</label>
                                                <textarea id="description" class="form-control"
                                                    rows="3" style="resize: none;" name="description"></textarea>
                                                    <div class="invalid-feedback">
                                                        Debe agregar una descripción
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <div class="has-validation">
                                                    <select class="form-select form-select"
                                                    id="categoryId"
                                                    aria-label=".form-select-sm example" name="categoryId" required>
                                                    <option value="" selected hidden>Categoría...</option>
                                                    <% course.faculty.categories.sort((a,b)=> a.name>b.id ? 1 : a.id<b.id ? -1 : 0).forEach(category => {%>
                                                        <option value="<%=category.id%>"><%=category.name%></option>
                                                    <%})%>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Debe indicar la categoría
                                                    </div>
                                                </div>
                                               
                                                <input type="text" value="<%= course.id %>" id="inputCourse" hidden>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <select class="form-select form-select"
                                                    id="unitId"
                                                    name="unitId"
                                                    required
                                                    disabled>
                                                    <option value="" selected hidden>Unidad...</option>
                                                    <% course.units.sort((a,b)=> a.number>b.number ? 1 : a.number<b.number ? -1 : 0).forEach(unit => {%>
                                                        <option value="<%=unit.id%>"><%=unit.number%></option>
                                                    <%})%>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <select class="form-select form-select"
                                                    id="year"
                                                    name="year"
                                                    required
                                                    disabled>
                                                    <option value="" selected hidden>Año...</option>
                                                    <% for(let i=2005; i<= new Date().getFullYear(); i++ ) { %>
                                                        <option value="<%=i%>"><%=i%></option>
                                                    <%}%>
                                                </select>
                                            </div>
                                            
                                            <div class="col-12 col-md-6 mb-3">
                                                <select class="form-select form-select"
                                                    id="turnId"
                                                    name="turnId"
                                                    required
                                                    disabled>
                                                    <option value="" selected hidden>Turno...</option>
                                                    <% for(let i=0; i< course.turns.length; i++ ) { %>
                                                        <option value="<%=course.turns[i].id%>"><%=course.turns[i].month%></option>
                                                    <%}%>
                                                </select>
                                            </div>
    
                                            <div class="col-12 col-md-6 mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text">Orden</span>
                                                    <input name="order" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3 ">
                                                <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                                                      <a href="/courses/edit/<%= course.id %>?next=videos" class="btn btn-outline-dark flex-grow-1">Cancelar</a>
                                                    <button class="btn btn-outline-primary flex-grow-1" type="submit">
                                                        Guardar
                                                    </button>     
                                                </div>
                                                                                    
                                            </div>
                                    </div>
                                </div>
                </form>
                            </div>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/scripts') %> 
    <script>
    
        let selectCategory = document.getElementById('categoryId');
        let selectUnit = document.getElementById('unitId');
        let selectYear = document.getElementById('year');
        let selectTurn = document.getElementById('turnId');
        let inputCourse = document.getElementById('inputCourse');
        let inputResource = document.getElementById('resource');
        let videoTag = document.getElementById('resourceTag');
        let videoPreview = document.getElementById('resourcePreview');
        let resourceLabel = document.getElementById('resourceLabel');
        let inputLenth = document.getElementById('length');
        let result;

        let errorVideo = document.getElementById('errorVideo');
        const regExExt = /(.mp4|MP4)$/i;

    
        const apiCall = async(url) => {
            try {
                let response = await fetch(url);
                let result = await response.json();
                return result;
            } catch (error) {
                console.error(error);
            }
        };
    
        window.onload = async () => {
            if(inputCourse.value == 13){
                
                selectYear.disabled = false;
                selectTurn.disabled = false;
                
                selectCategory.innerHTML = '<option value="3">Exámenes integradores</option>';
                
                selectYear.innerHTML = '<option value="" selected hidden>Año...</option>';
                    for(let i=2005; i<= new Date().getFullYear(); i++ ) {
                    selectYear.innerHTML += `<option value="${i}">${i}</option>`
                    }
    
                selectTurn.innerHTML = '<option value="" selected hidden>Turno...</option>';
                    /* result = await apiCall('/turns'); */
                    result = await apiCall('/turns?course=' + inputCourse.value);
                    result.turns.forEach(turn => {
                        selectTurn.innerHTML += `<option value="${turn.id}">${turn.month}</option>`;
                    });
            }
        }
        
    
        document.getElementById('categoryId').addEventListener('change', async (event) => {
            
            switch (event.target.value) {
                case "2":
                case "4":
                    selectUnit.disabled = false;
                    selectYear.disabled = true;
                    selectTurn.disabled = true;
                    selectYear.innerHTML = '<option value="" selected hidden>Año...</option>';
                    selectTurn.innerHTML = '<option value="" selected hidden>Turno...</option>';
                    
                    selectUnit.innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    result = await apiCall('/units?course=' + inputCourse.value);
                    result.units.forEach(unit => {
                        selectUnit.innerHTML += `<option value="${unit.id}">${unit.number}</option>`;
                    });
    
                    break;
                case "3":
                case "6":
                    selectUnit.disabled = true;
                    selectYear.disabled = false;
                    selectTurn.disabled = false;
    
                    selectUnit.innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    
                    selectYear.innerHTML = '<option value="" selected hidden>Año...</option>';
                    for(let i=2005; i<= new Date().getFullYear(); i++ ) {
                    selectYear.innerHTML += `<option value="${i}">${i}</option>`
                    }
    
                    selectTurn.innerHTML = '<option value="" selected hidden>Turno...</option>';
                    result = await apiCall('/turns?course=' + inputCourse.value);
                    result.turns.forEach(turn => {
                        selectTurn.innerHTML += `<option value="${turn.id}">${turn.month}</option>`;
                    });
                  
                    break;
                default:
                    selectUnit.disabled = true;
                    selectYear.disabled = true;
                    selectTurn.disabled = true;
                    selectUnit.innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    selectYear.innerHTML = '<option value="" selected hidden>Año...</option>';
                    selectTurn.innerHTML = '<option value="" selected hidden>Turno...</option>';
                    break;
            }
        });
    
        const changeOptions = async (e,id) => {
            switch (event.target.value) {
                case "2":
                case "4":
                    document.getElementById('unitId' + id).disabled = false;
                    document.getElementById('year' + id).disabled = true;
                    document.getElementById('turnId' + id).disabled = true;
                    document.getElementById('year' + id).innerHTML = '<option value="" selected hidden>Año...</option>';
                    document.getElementById('turnId' + id).innerHTML = '<option value="" selected hidden>Turno...</option>';
                    
                    document.getElementById('unitId' + id).innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    result = await apiCall('/units?course=' + inputCourse.value);
                    result.units.forEach(unit => {
                        document.getElementById('unitId' + id).innerHTML += `<option value="${unit.id}">${unit.number}</option>`;
                    });
    
                    break;
                case "3":
                case "6":
                    document.getElementById('unitId' + id).disabled = true;
                    document.getElementById('year' + id).disabled = false;
                    document.getElementById('turnId' + id).disabled = false;
    
                    document.getElementById('unitId' + id).innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    
                    document.getElementById('year' + id).innerHTML = '<option value="" selected hidden>Año...</option>';
                    for(let i=2005; i<= new Date().getFullYear(); i++ ) {
                    document.getElementById('year' + id).innerHTML += `<option value="${i}">${i}</option>`
                    }
    
                    document.getElementById('turnId' + id).innerHTML = '<option value="" selected hidden>Turno...</option>';
                    result = await apiCall('/turns');
                    result.turns.forEach(turn => {
                        document.getElementById('turnId' + id).innerHTML += `<option value="${turn.id}">${turn.month}</option>`;
                    });
                  
                    break;
                default:
                    document.getElementById('unitId' + id).disabled = true;
                    document.getElementById('year' + id).disabled = true;
                    document.getElementById('turnId' + id).disabled = true;
                    document.getElementById('unitId' + id).innerHTML = '<option value="" selected hidden>Unidad...</option>';
                    document.getElementById('year' + id).innerHTML = '<option value="" selected hidden>Año...</option>';
                    document.getElementById('turnId' + id).innerHTML = '<option value="" selected hidden>Turno...</option>';
                    break;
            }
        }
    
        inputResource.addEventListener('change', (event) => {
    
            if (event.target.files && event.target.files[0]) {
                if(!regExExt.exec(event.target.value)){
                    errorVideo.innerHTML = "Solo videos con extensión mp4";
                    event.target.value = null;
                    videoPreview.src = null;
                }else {
                    let reader = new FileReader();

                    reader.onload = function(e) {
                    videoPreview.src = e.target.result
                    videoTag.load()
            
                    }.bind(this)
            
            
                    reader.readAsDataURL(event.target.files[0]);
                    resourceLabel.innerText = 'Cambiar video';
                    errorVideo.innerHTML = null;
                }
            }

        });
    
        videoTag.addEventListener('loadeddata', ({target}) => {
            inputLenth.value = Math.round(target.duration / 60)
        })
    
      </script>
</body>
</html>