<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Materia | Contenido'
  }) %> 

<body class="courseContent">
  <%- include('./partials/header') %> 
  <% if (suscribed) { %>
    <main class="container">
      <header class="courseContent__header container p-3">
        <div class="row align-items-center">
          <h1><%= course.name %></h1>
          <h3><%= course.university.acronym %> | <%= course.faculty.acronym %></h3>
          <hr>
          <div class="col-12 col-md-6 p-3">
             
            <ul class="list-group list-group-flush">
              <% course.faculty.categories.forEach(category => { %>
                <% if (category.id == 1 && theoreticalCount) { %>
                  <li class="list-group-item"><strong><i class="fa-solid fa-book"></i> Teoría:</strong> <%= theoreticalCount%> <%= theoreticalCount> 1 ?'clases en video' : 'clase en video' %> - <span class="text-muted"><%= theoreticalHours %> <%= theoreticalHours > 1 ?'minutos' : 'minuto' %> de clases teóricas.</span></li>
                <% } %>
                <% if (category.id == 2 && videoPracticalWorkCount) { %>
                  <li class="list-group-item"><strong><i class="fa-solid fa-file-pen"></i> Práctica:</strong> <%= videoPracticalWorkCount%> <%= videoPracticalWorkCount> 1 ?'clases en video' : 'clase en video' %> - <span class="text-muted"><%= videoPracticalWorkHours %> <%= videoPracticalWorkHours > 1 ?'minutos' : 'minuto' %> realizando trabajos prácticos.</span></li>              
                <% } %>
                <% if (category.id == 3 && integrativeVideoExamsCount) { %>
                  <li class="list-group-item">
                    <strong><i class="fa-solid fa-building-columns"></i> Exámenes:</strong> <%= integrativeVideoExamsCount%> <%= integrativeVideoExamsCount> 1 ?'videos' : 'video' %> - <span class="text-muted"><%= videoPracticalWorkHours %> <%= integrativeVideoExamsHours > 1 ?'minutos' : 'minuto' %> resolviendo exámenes.</span>
                   </li>              
                <% } %>
                <% if (category.id == 4 && levelingCycleVideosCount) { %>
                  <li class="list-group-item">
                  <strong><i class="fas fa-balance-scale"></i> Clases de nivelación:</strong> <%= levelingCycleVideosCount%> <%= levelingCycleVideosCount> 1 ?'videos' : 'video' %> - <span class="text-muted"><%= levelingCycleVideosHours %> <%= levelingCycleVideosHours > 1 ?'minutos' : 'minuto' %> de duración en total.</span>
                  </li>              
                <% } %>
                <% if (category.id == 5 && integrativeExerciseVideosCount) { %>
                  <li class="list-group-item">
                    <strong><i class="fa-solid fa-file-pen"></i> Ejercicios:</strong> <%= integrativeExerciseVideosCount%> <%= integrativeExerciseVideosCount> 1 ?'videos' : 'video' %> - <span class="text-muted"><%= integrativeExerciseVideosHours %> <%= integrativeExerciseVideosHours > 1 ?'minutos' : 'minuto' %> realizando ejercicios integradores.</span>
                    </li>                
                <% } %>
                <% if (category.id == 6 && previusExamVideosCount) { %>
                  <li class="list-group-item">
                    <strong><i class="fa-solid fa-building-columns"></i> Exámenes:</strong> <%= previusExamVideosCount%> <%= previusExamVideosCount> 1 ?'videos' : 'video' %> - <span class="text-muted"><%= previusExamVideosHours %> <%= previusExamVideosHours > 1 ?'minutos' : 'minuto' %> resolviendo exámenes anteriores.</span>
                    </li>              
                <% } %>
              <% }) %>
              <li class="list-group-item"><strong><i class="fa-solid fa-file"></i> Material adjunto: </strong>
                <% if (course.notes.length) { %>
                  <%= course.notes.length %>  <%= course.notes.length > 1 ? 'apuntes' : 'apunte' %> para repasar lo aprendido.
                  <% }else{ %>
                    <span class="text-muted">No hay apuntes agregados.</span>
                  <% } %>

              </li>
              <li class="list-group-item"><strong><i class="fa-solid fa-user-clock"></i> Para practicar: </strong>
                <% if (course.tests.length) { %>
                  <%= course.tests.length %>  <%= course.tests.length > 1 ? 'simulacros' : 'simulacro' %> de exámen
                <% }else{ %>
                  <span class="text-muted">No hay simulacros de exámenes agregados.</span>

                  <% } %>

              </li>
            </ul>          
          </div>
            <div class="col-12 col-md-6 p-3 d-flex  flex-column">
              <h2>Progreso</h2>       
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" id="showProgress" style="width: <%= videosViewed.length ? Math.floor(videosViewed.length * 100 / videosCount) : 0 %>%"><%= videosViewed.length ? Math.floor(videosViewed.length * 100 / videosCount) : 0 %> %</div>
              </div> 
          </div>       
        </div>
      </header>
      <h2 class="text-center mb-5 bg-dark py-3 text-light">Contenido de la Materia</h2>
      <div class="contentSuscribed">
    <!-- SECCIÓN VIDEOS -->
      <section class="courseContent__videos container">
        <h4 class="border-bottom pb-1 mb-3"><i class="fas fa-video    "></i> Videos</h4>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7">
            <video src="/videos/<%= course.video %>" controls width="100%" id="showVideo" controlslist="nodownload"></video>
          </div>
          <div class="col-12 col-md-6 col-lg-5">
            <% if (videosCount) { %>
              <div class="accordion w-100" id="accordionPanelsStayOpenExample">

                <% if (course.id === 13) { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse" aria-expanded="false" aria-controls="panelsStayOpen-collapse">
                        Exámenes integradores
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapse" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                     
                              <!-- examenes anteriores -->


                              <% for( let year = 2005; year <= (new Date()).getFullYear(); year++ ) { %>
                                <% if (previusExamVideos.map(video => video.year).includes(year)) { %>
                                  <li class="list-group-item ">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=year%>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=year%>">
                                            <h6 class="mb-3">Año: <%= year %></h6>
                                          </button>
                                        </h2>
                                        <div id="flush-previusExamVideos-<%=year%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                          <div class="accordion-body">
                                            <ul class="list-group-flush">
                                              <% turns.forEach(turn => { %>
                                                <% if (previusExamVideos.map(video => video.turnId).includes(turn.id) && previusExamVideos.filter(video => video.turnId === turn.id && video.year === year).length) { %>
      
                                                <div class="accordion accordion-flush" id="accordionFlushExample-<%=turn.id%><%= year %>">
                                                  <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne-<%=turn.id%><%= year %>">
                                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=turn.id%><%= year %>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=turn.id%><%= year %>">
                                                        <h6 class="mb-3">Turno: <%= turn.month %></h6>
                                                      </button>
                                                    </h2>
                                                    <div id="flush-previusExamVideos-<%=turn.id%><%= year %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-<%=turn.id%><%= year %>" data-bs-parent="#accordionFlushExample-<%=turn.id%><%= year %>">
                                                      <div class="accordion-body">
                                                        <ul class="list-group-flush">
                                                          <% previusExamVideos.forEach(video => { %>
                                                            <% if (video.year === year && video.turnId === turn.id) { %>
                                                              <p class="text-muted text-end m-0"><%=video.length%> min</p>
                              <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                              <div class="me-auto">
                                <div class="fw-bold">
                                  
                                  <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%> <span class="text-muted">|  <%= video.turn.month %>/<%= video.year %></span></a>
                                </div>

                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                </div>   
                            </div>
                              <small class="text-muted ms-3 mt-0"><%= video.description %> </small>      
                    
                                                            <% } %>
                                                            <% }) %>
                                                        </ul>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <% } %>
                                              <% }) %>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                <% } %>
                               
                                <% } %>
                      
                      </ul>
                    </div>
                    </div>
                </div>
                <% }else{ %>
  
              <%course.faculty.categories.forEach((category,index) => {%>
             
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading<%=category.id%>">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=category.id%>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%=category.id%>">
                        <%= category.name %> 
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapse<%=category.id%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=category.id%>" data-bs-parent="#accordionPanelsStayOpenExample">
                    <div class="accordion-body">
                      <ul class="list-group list-group-flush">
                        <% if (category.id === 4) { %>
                          <!-- ciclo de nivelación -->
                          <% course.units.sort((a,b) => a.number > b.number ? 1 : a.number < b.number ? -1 : 0).forEach(unit => { %>
                            <li class="list-group-item ">
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-nivela1-<%= unit.number %>" aria-expanded="false" aria-controls="flush-nivela1-<%= unit.number %>">
                                  <h5 class="mb-3">Unidad: <%= unit.number %> | <%= unit.name %></h5>
                                </button>
                              </h2>
                              <div id="flush-nivela1-<%= unit.number %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  <ul class="list-group-flush">
                                    <% levelingCycleVideos.forEach(video => { %>
                                      <% if (video.unitId === unit.id) { %>
                                        <li class="list-group-item">
                                          <p class="text-muted text-end m-0"><%=video.length%> min</p>
                                          <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                          <div class="me-auto">
                                            <div class="fw-bold">
                                              
                                              <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%></a>
                                            </div>
          
                                            </div>
          
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                            </div>   
                                        </div>
                                          <small class="text-muted ms-3 mt-0"><%= video.description %> </small>     
                                      </li>
                                      <% } %>
                                    <% }) %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                         
                        
                          </div>
                        </li>
                          <% }) %>
                        
                        <% }else if (category.id === 1) { %>
                          <!-- clases teóricas -->
                          <% theoreticalVideos.forEach(video => { %>
                            <li class="list-group-item">
                              <p class="text-muted text-end m-0"><%=video.length%> min</p>
                              <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                              <div class="me-auto">
                                <div class="fw-bold">
                                  
                                  <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%></a>
                                </div>

                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                </div>   
                            </div>
                              <small class="text-muted ms-3 mt-0"><%= video.description %> </small>    
 
                          </li>
                          <% }) %>
                          <% }else if (category.id === 2) { %>
                            <!-- trabajos prácticos -->
                            <% course.units.sort((a,b) => a.number > b.number ? 1 : a.number < b.number ? -1 : 0).forEach(unit => { %>
                              <li class="list-group-item ">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-practical1-<%= unit.number %>" aria-expanded="false" aria-controls="flush-practical1-<%= unit.number %>">
                                    <h5 class="mb-3">Unidad: <%= unit.number %> | <%= unit.name %></h5>
                                  </button>
                                </h2>
                                <div id="flush-practical1-<%= unit.number %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                    <ul class="list-group-flush">
                                      <% practicalVideos.forEach(video => { %>
                                        <% if (video.unitId === unit.id) { %>
                                          <li class="list-group-item">
                                            <p class="text-muted text-end m-0"><%=video.length%> min</p>
                                            <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                            <div class="me-auto">
                                              <div class="fw-bold">
                                                
                                                <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%></a>
                                              </div>
            
                                              </div>
            
                                              <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                              </div>   
                                          </div>
                                            <small class="text-muted ms-3 mt-0"><%= video.description %> </small>     
                                        </li>
      
                                        <% } %>
                                      <% }) %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            
                            
                            </div>                              
                          </li>

                            <% }) %>
                          <% }else if (category.id === 3) { %>
                            <!-- examenes integradores -->
                            <% for( let year = 2005; year <= (new Date()).getFullYear(); year++ ) { %>
                              
                              <% if (integrativeVideoExams.map(video => video.year).includes(year)) { %>
                                <li class="list-group-item ">
                                  <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-integrativeVideoExams-<%=year%>" aria-expanded="false" aria-controls="flush-integrativeVideoExams-<%=year%>">
                                          <h6 class="mb-3">Año: <%= year %></h6>
                                        </button>
                                      </h2>
                                      <div id="flush-integrativeVideoExams-<%=year%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                          <ul class="list-group-flush">
                                            <% turns.forEach(turn => { %>
                                              <% if (integrativeVideoExams.map(video => video.turnId).includes(turn.id) && integrativeVideoExams.filter(video => video.turnId == turn.id && video.year == year).length) { %>
  
                                              <div class="accordion accordion-flush" id="accordionFlushExample-<%=turn.id%><%= year %>">
                                                <div class="accordion-item">
                                                  <h2 class="accordion-header" id="flush-headingOne-<%=turn.id%><%= year %>">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-integrativeVideoExams-<%=turn.id%><%= year %>" aria-expanded="false" aria-controls="flush-integrativeVideoExams-<%=turn.id%><%= year %>">
                                                      <h6 class="mb-3">Turno: <%= turn.month %></h6>
                                                    </button>
                                                  </h2>
                                                  <div id="flush-integrativeVideoExams-<%=turn.id%><%= year %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-<%=turn.id%><%= year %>" data-bs-parent="#accordionFlushExample-<%=turn.id%><%= year %>">
                                                    <div class="accordion-body">
                                                      <ul class="list-group-flush">
                                                        <% integrativeVideoExams.forEach(video => { %>
                                                          <% if (video.year == year && video.turnId == turn.id) { %>
                                                            <li class="list-group-item">
                                                              <p class="text-muted text-end m-0"><%=video.length%> min</p>
                                                          <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                                          <div class="me-auto">
                                                            <div class="fw-bold">
                                                              
                                                              <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%> <!-- <span class="text-muted">|  <%= video.turn.month %>/<%= video.year %></span> --></a>
                                                            </div>
                          
                                                            </div>
                          
                                                            <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                                            </div>   
                                                        </div>
                                                          <small class="text-muted ms-3 mt-0"><%= video.description %> </small>    
                                                          </li>    
                  
                                                          <% } %>
                                                          <% }) %>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <% } %>
                                            <% }) %>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              <% } %>
                             
                            <% } %>
                          
                              <% }else if (category.id === 5) { %>
                                <!-- ejercicios integradores -->
                                <% integrativeExerciseVideos.forEach(video => { %>
                                  <li class="list-group-item ">
                                    <p class="text-muted text-end m-0"><%=video.length%> min</p>
                                    <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                    <div class="me-auto">
                                      <div class="fw-bold">
                                        
                                        <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%></a>
                                      </div>
    
                                      </div>
    
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                      </div>   
                                  </div>
                                    <small class="text-muted ms-3 mt-0"><%= video.description %> </small>         
                                </li>
                            <% }) %>
                        
                            <% }else if (category.id === 6) { %>
                              <!-- examenes anteriores -->


                              <% for( let year = 2005; year <= (new Date()).getFullYear(); year++ ) { %>
                                <% if (previusExamVideos.map(video => video.year).includes(year)) { %>
                                  <li class="list-group-item ">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=year%>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=year%>">
                                            <h6 class="mb-3">Año: <%= year %></h6>
                                          </button>
                                        </h2>
                                        <div id="flush-previusExamVideos-<%=year%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                          <div class="accordion-body">
                                            <ul class="list-group-flush">
                                              <% turns.forEach(turn => { %>
                                                <% if (previusExamVideos.map(video => video.turnId).includes(turn.id) && previusExamVideos.filter(video => video.turnId === turn.id && video.year === year).length) { %>
      
                                                <div class="accordion accordion-flush" id="accordionFlushExample-<%=turn.id%><%= year %>">
                                                  <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne-<%=turn.id%><%= year %>">
                                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=turn.id%><%= year %>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=turn.id%><%= year %>">
                                                        <h6 class="mb-3">Turno: <%= turn.month %></h6>
                                                      </button>
                                                    </h2>
                                                    <div id="flush-previusExamVideos-<%=turn.id%><%= year %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-<%=turn.id%><%= year %>" data-bs-parent="#accordionFlushExample-<%=turn.id%><%= year %>">
                                                      <div class="accordion-body">
                                                        <ul class="list-group-flush">
                                                          <% previusExamVideos.forEach(video => { %>
                                                            <% if (video.year === year && video.turnId === turn.id) { %>
                                                              <p class="text-muted text-end m-0"><%=video.length%> min</p>
                              <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                              <div class="me-auto">
                                <div class="fw-bold">
                                  
                                  <a class="text-dark" href="" onclick="showVideo(event,'<%=video.id%>','<%=session.user.id%>','<%=course.id%>')"><i class="fa fa-play" aria-hidden="true"></i> <%=video.title%> <span class="text-muted">|  <%= video.turn.month %>/<%= video.year %></span></a>
                                </div>

                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="videoCheck<%= video.id %>" <%= videosViewed.includes(video.id) && 'checked' %> onclick="seedByUser(event,<%=session.user.id%>,<%=video.id%>,<%=course.id%>)">
                                </div>   
                            </div>
                              <small class="text-muted ms-3 mt-0"><%= video.description %> </small>      
                    
                                                            <% } %>
                                                            <% }) %>
                                                        </ul>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <% } %>
                                              <% }) %>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                <% } %>
                               
                              <% } %>

                        
                      
                          <% } %>
                      
                      </ul>
                    </div>
                    </div>
                </div>
              <%})%>
              <% } %>

              </div>

          <% }else{ %>
              <p class="alert alert-warning">El curso aún no tiene videos agregados</p>
              <% } %>
          </div>
  
          
        </div>
      </section>
      <!-- FIN VIDEOS -->
      <!-- SECCIÓN ADJUNTOS -->
      <section class="courseContent__download">
        <h4 class="border-bottom pb-1 mb-3"><i class="fa fa-file" aria-hidden="true"></i> Apuntes</h4>
        <div class="container">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quisquam sapiente non sit sunt cupiditate perspiciatis velit quasi dicta perferendis ut labore officiis architecto eos, quos earum minima eaque corrupti.</p>
          <div class="row">
            <% if (course.notes.length) { %>
              <% course.notes.forEach(note => { %>
                <!-- Download card -->
                <div class="col-12 col-md-4 p-2 mb-2">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-content-center">
                        <p><span class="text-danger fs-3 me-2"><i class="fa fa-file-pdf" aria-hidden="true"></i></span><%= note.title %></p>
                        <a href="/notes/downloads/<%= note.file %>" class="text-primary fs-5" title="Descargar apunte">
                          <i class="fa-solid fa-download"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Download card -->
                <% }) %>
            <% }else{ %>
              <p class="alert alert-warning">El curso aún no tiene apuntes agregados</p>
            <% } %>
          </div>
        </div>
  
      </section>
      <!-- FIN ADJUNTOS -->
      <!-- SECCIÓN EXÁMENES -->
      <section class="courseContent__test">
        <h4 class="border-bottom pb-1 mb-3"><i class="fa fa-book" aria-hidden="true"></i> Simulacros de exámen.</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quisquam sapiente non sit sunt cupiditate perspiciatis velit quasi dicta perferendis ut labore officiis architecto eos, quos earum minima eaque corrupti.</p>
        <div class="container">
          <div class="row">
            <% if (course.tests.length) { %>
              <% course.tests.forEach(test => { %>
                <!-- Download card -->
                <div class="col-12 col-md-6 col-xl-4 p-2 mb-2">
                  <div class="card shadow">
                    <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title"><i class="fas fa-user-clock"></i> <%= test.name %></h5>
                      </div>
                    </div>
                    <div class="card-body">
                     
                           
                              <ul class="list-group list-group-flush text-bg-dark">
                                <li class="list-group-item d-flex justify-content-between">
                                  <span><i class="fas fa-question-circle"></i> Preguntas:</span>
                                  <span><%=test.questions.length%></span> 
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                  <span><i class="fas fa-clock"></i> Tiempo:</span><span><%=test.time%> min</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                  <% if (results.find(result => result.testId == test.id)) { %>
                                    <span><i class="fa fa-check-circle" aria-hidden="true"></i> Último puntaje:</span><span><%= results.find(result => result.testId == test.id).score %>/<%= results.find(result => result.testId == test.id).totalScore%> en <%= results.find(result => result.testId == test.id).time %> min</span>
                                  <% }else{ %>
                                    <span><i class="fa fa-info-circle" aria-hidden="true"></i> Aún no has hecho este simulacro</span>
                                    
                                  <% } %>
                                </li>
                              
                            </ul>
                           
                            <%- include('./partials/modal/modalTest',{
                              test
                            }) %> 
                    </div>
                    <div class="card-footer text-end">
                      <button id="btn-test<%= test.id %>" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#viewTest<%= test.id %>">
                        Iniciar simulacro                            
                      </button>
                    </div>
                  </div>
                </div>
                <!-- END Download card -->
                <% }) %>
            <% }else{ %>
              <p class="alert alert-warning">El curso aún no tiene simulacros de exámen agregados</p>
            <% } %>
        </div>
      </section>
      <!-- FIN EXÁMENES -->
      </div>
    </main>
  <% }else{ %>
    <main class="coursePresentation">
      <!-- SECCIÓN BANNER -->
      <section class="coursePresentation__banner container-fluid mb-5" style="background-image: url('/images/courses/<%=course.image%>');background-size: cover;">
        <div class="row align-items-center">
          <div class="coursePresentation__banner--description col-12 col-md-6 p-3">
            <div class="text-light p-3 mb-3" style="background-color: rgba(0,0,0,0.4);">
              <h1><%= course.name %></h1>
              <h3><%= course.university.acronym %> | <%= course.faculty.acronym %></h3>
            </div>
            <div class="coursePresentation__banner--buttonContainer" >
              <% if (!session.user) { %>
                <a  href="/usuario/registro"  class="button__dark--extended" >
                  REGISTRATE
              </a>
              <% }else{ %>
                <a  href="/usuario/perfil#membership" class="button__dark--extended" >
                  SUSCRIBITE
              </a>
                <% }%>
            </div>
          </div>
          <div class="coursePresentation__banner--video col-12 col-md-6 p-3">
            <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/PsmHRGUEFsM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <video src="/videos/<%= course.video ? course.video : 'advertising.mp4' %> " controls width="100%"  onplay="this.volume = 0.6" poster="/images"></video>
          </div>
        </div>
      </section>
      <!-- FIN BANNER -->
      <div class="row px-3">
        <div class="col-12 col-lg-4">
         
      <section class="px-4 mb-4">
        <div class="row gap-4">
         
          <div class="col-12 p-3 border">
           <!--  <h5>Descripción</h5>
            <hr> -->
            <h5><%= course.description ? course.description : "Descripción de la materia" %> </h5>
          </div>
          <div class="col-12">
            <div class="coursePresentation__summary-content--buttonContainer p-4 text-center">
              <% if (!session.user) { %>
                <a  href="/usuario/registro"  class="button__dark--extended" >
                  REGISTRATE Y OBTENÉ TU MEMBRESÍA
              </a>
              <% }else{ %>
                <a  href="/usuario/perfil#membership" class="button__dark--extended" >
                  SUSCRIBITE A ESTA MATERIA
              </a>
                <% }%>
            </div>
          </div>
          <div class="col-12 p-3 border">
            <h5 class="mb-2">Aprenderás</h5>
            <hr>
            <div class="container p-3">
              <div class="row">
                <% if (course.features.length) { %>
                  <% course.features.forEach(feature => { %>
                    <div class="col-12 d-flex mb-2">
                      <div class="me-3"><i class="fa-solid fa-check"></i></div>
                      <span class=><%= feature.content %></span>
                    </div>
                  <% }) %>
                <% }else{ %>
                  <div class="col-12 col-md-6 d-flex mb-2">
                    <div class="me-3"><i class="fa-solid fa-check"></i></div>
                    <span class=>Item que describe características del curso.</span>
                  </div>
                <% } %>
              
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- SECCIÓN RESUMEN DE CONTENIDO -->
        <section class="coursePresentation__summary-content container py-5 ">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4 p-2">
                <div class="shadow-sm p-2">
                  <h4 class="text-center">Apuntes</h4>
                  <p class="coursePresentation__summary-content-number text-center"><%= course.notes.length %></p>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2">
                <div class="shadow-sm p-2">
                  <h4 class="text-center">Videos</h4>
                  <p class="coursePresentation__summary-content-number text-center"><%= course.videos.length %> </p>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2">
                <div class="shadow-sm p-2">
                  <h4 class="text-center">Exámenes</h4>
                  <p class="coursePresentation__summary-content-number text-center"><%= course.tests.length %></p>
                </div>
              </div>
            
          
              </div>
            </div>
          </section>
        <!-- FIN RESUMEN DE CONTENIDO -->
        </div>
        <div class="col-12 col-lg-8">
  <!-- SECCIÓN LISTADOVIDEOS -->
  <section class="container mt-0 mt-md-0 mb-5">
    <% if (course.videos.length || course.notes.length) { %>
      <div class="accordion w-100" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingNotes">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNotes" aria-expanded="false" aria-controls="panelsStayOpen-collapseNotes">
              <h4>Apuntes de la materia</h4>
          </button>
          </h2>
          <div id="panelsStayOpen-collapseNotes" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingNotes" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
              <ul class="list-group list-group-flush">
                <% if (course.notes.length) { %>
                  <% course.notes.forEach(note => { %>
                    <li class=" list-group-item d-flex justify-content-between align-items-start mb-3">
                      <div>
                        <i class="fa fa-file-pdf text-danger" aria-hidden="true"></i>
                        <span><%= note.title %></span>
                      </div>
                      <a href="/notes/downloads/<%= note.file %>" class="btn btn-sm btn-outline-success">Descargar</a>
                    </li>                       
                  <% }) %>
                <% } %>

              </ul>
            </div>
          </div>
      </div>
      <%course.faculty.categories.forEach((category,index) => {%>
        <%if(course.videos.filter(video => video.categoryId === category.id).length){%>
          <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-heading<%=category.id%>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=category.id%>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%=category.id%>">
                  <h4><%= category.name %></h4>
                 
              </button>
              </h2>
              <div id="panelsStayOpen-collapse<%=category.id%>" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading<%=category.id%>" data-bs-parent="#accordionPanelsStayOpenExample">
              <div class="accordion-body">
                <ul class="list-group list-group-flush">
                  <% if (category.id === 4) { %>
                    <!-- ciclo de nivelación -->
                    <% course.units.sort((a,b) => a.number > b.number ? 1 : a.number < b.number ? -1 : 0).forEach(unit => { %>
                      <li class="list-group-item ">


                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-unit-<%=unit.number%>" aria-expanded="false" aria-controls="flush-unit-<%=unit.number%>">
                                <h5 class="mb-3">Unidad: <%= unit.number %> | <%= unit.name %></h5>

                              </button>
                            </h2>
                            <div id="flush-unit-<%=unit.number%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <ul class="list-group-flush">
                                  <% levelingCycleVideos.forEach(video => { %>
                                    <% if (video.unitId === unit.id) { %>
                                      <li class="list-group-item">
                                        <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                        <div class="fw-bold">
                                          <div class="d-flex">
                                            <% if (!video.locked) { %>

                                          <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></p>
                                            <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                              ver video
                                          </p>
                                          <%- include('./partials/modal/showVideo',{
                                              video,
                                              urlCloudfont
                                          })%>
                                           <% }else{ %>
                                              <% if (session.user) { %>
                                                <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                              <% }else{ %>
                                                <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                              <% } %>
                                            <% } %>
                                          </div>
                  
                                          </div>
                                           <div class="d-flex gap-3">
                                           <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                                        </div>      
                                      </div>  
                                      <small class="text-muted ms-2 mt-0"><%= video.description %> </small>       
             
                                    <% } %>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                       
                        </div>
                  </li>
                    <% }) %>
                  <% }else if (category.id === 1) { %>
                    <!-- clases teóricas -->
                    <% theoreticalVideos.forEach(video => { %>
                      <li class="list-group-item ">
                        <div class="d-flex flex-column justify-content-start flex-md-row justify-content-md-between ">
                        <div class="fw-bold">
                          <div class="d-flex">
                            <% if (!video.locked) { %>
                                <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></p>
                                  <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                    ver video
                                </p>
                                <%- include('./partials/modal/showVideo',{
                                    video,
                                    urlCloudfont
                                })%>
                            <% }else{ %>
                                <% if (session.user) { %>
                                  <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                <% }else{ %>
                                  <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                <% } %>
                            <% } %>
  
                          </div>
  
                          </div>
                           <div class="d-flex ">
                           <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                        </div>
                      </div>
                        <small class="text-muted ms-2"><%= video.description %> </small>       
                    </li>
                    <% }) %>
                    <% }else if (category.id === 2) { %>
                      <!-- trabajajos prácticos -->
                      <% course.units.sort((a,b) => a.number > b.number ? 1 : a.number < b.number ? -1 : 0).forEach(unit => { %>
                        <li class="list-group-item ">

                          <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-practical-<%=unit.number%>" aria-expanded="false" aria-controls="flush-practical-<%=unit.number%>">
                                  <h5 class="mb-3">Unidad: <%= unit.number %> | <%= unit.name %></h5>
                                </button>
                              </h2>
                              <div id="flush-practical-<%=unit.number%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  <ul class="list-group-flush">
                                    <% practicalVideos.forEach(video => { %>
                                      <% if (video.unitId === unit.id) { %>
                                        <li class="list-group-item">
                                          <div class=" d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
                                          <div class="fw-bold">
                                            <div class="d-flex">

                                            <% if (!video.locked) { %>


                                                <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></p>
                                                  <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                                    ver video
                                                </p>
                                                <%- include('./partials/modal/showVideo',{
                                                    video,
                                                    urlCloudfont
                                                })%>
                                                  <% }else{ %>
                                                    <% if (session.user) { %>
                                                      <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                    <% }else{ %>
                                                      <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                    <% } %>
                                                <% } %>
                    
                                            </div>
                    
                                            </div>
                                             <div class="d-flex gap-3">
                                             <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                                          </div>      
                                        </div>  
                                        <small class="text-muted ms-2 mt-0"><%= video.description %> </small>       
               
                                      <% } %>
                                    </li>
                                    <% }) %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                         
                          
                          </div>


                        
                      
                    </li>

                      <% }) %>
                    <% }else if (category.id === 3) { %>
                      <!-- exámenes integradores -->
                          <% for( let year = 2005; year <= (new Date()).getFullYear(); year++ ) { %>
                            <% if (integrativeVideoExams.map(video => video.year).includes(year)) { %>
                              <li class="list-group-item ">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-integrativeVideoExams-<%=year%>" aria-expanded="false" aria-controls="flush-integrativeVideoExams-<%=year%>">
                                        <h6 class="mb-3">Año: <%= year %></h6>
                                      </button>
                                    </h2>
                                    <div id="flush-integrativeVideoExams-<%=year%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                      <div class="accordion-body">
                                        <ul class="list-group-flush">
                                          <% turns.forEach(turn => { %>
                                            <% if (integrativeVideoExams.map(video => video.turnId).includes(turn.id) && integrativeVideoExams.filter(video => video.turnId === turn.id && video.year === year).length) { %>

                                            <div class="accordion accordion-flush" id="accordionFlushExample-<%=turn.id%><%= year %>">
                                              <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne-<%=turn.id%><%= year %>">
                                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-integrativeVideoExams-<%=turn.id%><%= year %>" aria-expanded="false" aria-controls="flush-integrativeVideoExams-<%=turn.id%><%= year %>">
                                                    <h6 class="mb-3">Turno: <%= turn.month %></h6>
                                                  </button>
                                                </h2>
                                                <div id="flush-integrativeVideoExams-<%=turn.id%><%= year %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-<%=turn.id%><%= year %>" data-bs-parent="#accordionFlushExample-<%=turn.id%><%= year %>">
                                                  <div class="accordion-body">
                                                    <ul class="list-group-flush">
                                                      <% integrativeVideoExams.forEach(video => { %>
                                                        <% if (video.year === year && video.turnId === turn.id) { %>
                                                          <div class="d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
              
                                                            <div class="fw-bold">
                                                              <div class="d-flex">

                                                              <% if (!video.locked) { %>
                                                                  <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%> <!-- <span class="text-muted">|  <%= video.turn.month %>/<%= video.year %></span> --></p>
                                                                    <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                                                      ver video
                                                                  </p>
                                                                  <%- include('./partials/modal/showVideo',{
                                                                      video,
                                                                      urlCloudfont
                                                                  })%>
                                                                  <% }else{ %>
                                                                    <% if (session.user) { %>
                                                                      <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                                    <% }else{ %>
                                                                      <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                                    <% } %>
                                                                <% } %>
                                                              </div>
                                      
                                                              </div>
                                                               <div class="d-flex gap-3">
                                                               <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                                                            </div>           
                                                          </div>
                                                          <small class="text-muted ms-2 mt-0"><%= video.description %> </small>   
                
                                                        <% } %>
                                                        <% }) %>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <% } %>
                                          <% }) %>
                                       







                                        
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            <% } %>
                           
                          <% } %>
                               

                        <% }else if (category.id === 5) { %>
                          <!-- ejercicios integradores -->
                          <% integrativeExerciseVideos.forEach(video => { %>
                            <li class="list-group-item ">
                              <div class="d-flex flex-column justify-content-start flex-md-row justify-content-md-between ">
                              <div class="fw-bold">
                                <div class="d-flex">
                                  <% if (!video.locked) { %>
                                      <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></p>
                                      <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                        ver video
                                      </p>
                                      <%- include('./partials/modal/showVideo',{
                                          video,
                                          urlCloudfont
                                      })%>
                                  <% }else{ %>
                                        <% if (session.user) { %>
                                          <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                        <% }else{ %>
                                          <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                        <% } %>
                                  <% } %>
        
                                </div>
        
                                </div>
                                 <div class="d-flex ">
                                 <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                              </div>
                            </div>
                              <small class="text-muted ms-2"><%= video.description %> </small>       
                          </li>
                      <% }) %>
                  
                      <% }else if (category.id === 6) { %>
                        <!-- exámenes anteriores -->
                        <% for( let year = 2005; year <= (new Date()).getFullYear(); year++ ) { %>
                          <% if (previusExamVideos.map(video => video.year).includes(year)) { %>
                            <li class="list-group-item ">
                              <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=year%>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=year%>">
                                      <h6 class="mb-3">Año: <%= year %></h6>
                                    </button>
                                  </h2>
                                  <div id="flush-previusExamVideos-<%=year%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                      <ul class="list-group-flush">
                                        <% turns.forEach(turn => { %>
                                          <% if (previusExamVideos.map(video => video.turnId).includes(turn.id) && previusExamVideos.filter(video => video.turnId === turn.id && video.year === year).length) { %>

                                          <div class="accordion accordion-flush" id="accordionFlushExample-<%=turn.id%><%= year %>">
                                            <div class="accordion-item">
                                              <h2 class="accordion-header" id="flush-headingOne-<%=turn.id%><%= year %>">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-previusExamVideos-<%=turn.id%><%= year %>" aria-expanded="false" aria-controls="flush-previusExamVideos-<%=turn.id%><%= year %>">
                                                  <h6 class="mb-3">Turno: <%= turn.month %></h6>
                                                </button>
                                              </h2>
                                              <div id="flush-previusExamVideos-<%=turn.id%><%= year %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-<%=turn.id%><%= year %>" data-bs-parent="#accordionFlushExample-<%=turn.id%><%= year %>">
                                                <div class="accordion-body">
                                                  <ul class="list-group-flush">
                                                    <% previusExamVideos.forEach(video => { %>
                                                      <% if (video.year === year && video.turnId === turn.id) { %>
                                                        <div class="d-flex flex-column justify-content-start flex-md-row justify-content-md-between">
            
                                                          <div class="fw-bold">
                                                            <div class="d-flex">

                                                            <% if (!video.locked) { %>
                                                                <p class="text-dark m-0"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%> <!-- <span class="text-muted">|  <%= video.turn.month %>/<%= video.year %></span> --></p>
                                                                  <p type="button" class="ms-3 border-0 bg-transparent p-0 text-primary m-0" data-bs-toggle="modal" data-bs-target="#modalShowVideo<%=video.id%>">
                                                                    ver video
                                                                </p>
                                                                <%- include('./partials/modal/showVideo',{
                                                                    video,
                                                                    urlCloudfont
                                                                })%>
                                                                <% }else{ %>
                                                                  <% if (session.user) { %>
                                                                    <a href="/usuario/perfil#membership"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                                  <% }else{ %>
                                                                    <a href="/usuario/registro"><i class="fa fa-video-camera" aria-hidden="true"></i> <%=video.title%></a>
                                                                  <% } %>
                                                              <% } %>
                                                            </div>
                                    
                                                            </div>
                                                             <div class="d-flex gap-3">
                                                             <p class="text-muted m-0"><i class="fas fa-clock"></i> <%=video.length%> min</p>   
                                                          </div>           
                                                        </div>
                                                        <small class="text-muted ms-2 mt-0"><%= video.description %> </small>   
              
                                                      <% } %>
                                                      <% }) %>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <% } %>
                                        <% }) %>
                                     







                                      
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          <% } %>
                         
                        <% } %>







                    <% } %>
                
                </ul>
              </div>
              </div>
          </div>
          <% } %>
      <%})%>
      </div>
     
  <% }else{ %>
      <!-- <p class="alert alert-warning">El curso aún no tiene videos agregados</p> -->
      <div class="accordion w-100" id="accordionPanelsStayOpenExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingNotes">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNotes" aria-expanded="false" aria-controls="panelsStayOpen-collapseNotes">
                    <h4>Apuntes de la materia</h4>
                   
                </button>
                </h2>
                <div id="panelsStayOpen-collapseNotes" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingNotes" data-bs-parent="#accordionPanelsStayOpenExample">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      <% if (course.notes.length) { %>
                        <% course.notes.forEach(note => { %>
                          <li class=" list-group-item d-flex justify-content-between align-items-start mb-3">
                            <div>
                              <i class="fa fa-file-pdf text-danger" aria-hidden="true"></i>
                              <span><%= note.title %></span>
                            </div>
                            <a href="/notes/downloads/<%= note.file %>" class="btn btn-sm btn-outline-success">Descargar</a>
                          </li>                       
                        <% }) %>
                      <% } %>

                    </ul>
                  </div>
                </div>
            </div>
          
          </div>
      <% } %>
  </section>
        <!-- FIN LISTADO DE VIDEOS -->
        </div>
      </div>

    
      <!-- SECCION SLIDER RELACIONADAS -->
      <section class="container border mb-5">
        <div class="border-bottom p-3">
          <h3>Materias relacionadas</h3>
        </div>
        <%- include('./partials/slider', { 
          sliderArray: locals.relatedCourses
        }) %> 
      </section> 
      <!-- FIN SLIDER RELACIONADAS -->
       <!-- SECCIÓN COMENTARIOS -->
      <!--  <section class="coursePresentation__rating container">
        <h2>Valoración y comentarios</h2>
        <div class="coursePresentation__rating--container">
          <div class="coursePresentation__rating--value">
            <span class="text-center">3.8</span>
            <div class="coursePresentation__rating--starsContainer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <i class="fa-regular fa-star"></i>
            </div>
          </div>
        </div>
        <div class="coursePresentation__comments--container container p-3">
          <div class="row border-bottom p-3">
            <div class="coursePresentation__comments--avatar col-4 col-md-1">
              <div class="avatar rounded-circle">
                <img src="/images/logos/noImage.png" class="rounded-circle" alt="">
              </div>
            </div>
            <div class="coursePresentation__comments--content col-8 col-md-10">
              <h3>Cosme Fulanito</h3>
              <div class="coursePresentation__comments--starsContainer">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus suscipit facere quasi iusto eaque.</p>
            </div>
          </div>
          </div>
        </div>
      </section> -->
      <!-- FIN COMENTARIOS -->
    </main>
  <% } %>

 
  <%- include('./partials/modal/modal') %> 
  <%- include('./partials/wappbtn') %> 
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %>
  <script src="/javascripts/slider.js"></script>
  <script src="/javascripts/courseContent.js"></script>
  <script>
    document.oncontextmenu = () => false;
  </script>
</body>
</html>
