<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Error de validación'
  }) %> 

  <body class="bg-light">
    <%- include('./partials/header') %> 
    <main class="container " style="height: 100vh; padding-top: 25vh;">
        <div class="d-flex flex-column flex-md-row justify-content-evenly p-5 align-items-center" >
            <div class="">
                <img class="img-fluid" width="300" src="/images/404error.png" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div>
                    <h2 class="text-bg-danger p-3"><%= errors && errors.code ? errors.code.msg.toUpperCase() : null %> </h2>
                    <a class=" link-primary" href="/">Volver al home</a>
                </div>
               
            </div>
            
                    
             
        </div>
    </main>
     
    <%- include('./partials/wappbtn') %> 
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
  </body>
</html>
