<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Home'
  }) %> 

  <body class="home">
    <%- include('./partials/header') %> 
    <main class="container">
       <!-- SECCIÓN UNIVERSIDADES -->
       <section class="home__universities container mb-5">
       <!--  <div class="row">
            <h2 data-aos="fade-up" data-aos-duration="1000">Universidades</h2>
        </div> -->
        <div class="row" data-aos="fade-up" data-aos-duration="1500" style="height: 80vh;">
          <!-- Card Universidad -->
          <% universities.forEach(university => { %>
            <div class="col-12 col-md-4 p-3 mt-5">
              <div class="card border border-0  p-2 bg-transparent">
                <div class="home__universities--cardImageContainer">
                  <img src="images/logos/<%- university.image %> " alt="unc_logo">
                </div>
                <div class="card-body">
                  <h5 class="card-title home__universities--title"><%- university.name %></h5>
                </div>
                <ul class="list-group list-group-flush fs-5 px-4">
                  <li class="list-group-item bg-transparent text-white d-flex justify-content-between" >
                    <span><i class="fa-solid fa-building-columns me-3"></i>Facultades:</span>
                    <span>
                      <%= university.faculties.length %> %>
                    </span>

                  </li>
                  <li class="list-group-item bg-transparent text-white  d-flex justify-content-between">
                    <span><i class="fa-solid fa-graduation-cap me-3"></i>Carreras:</span>
                    <span><%= university.careers.length %></span>

                  <li class="list-group-item bg-transparent text-white d-flex justify-content-between">
                    <span><i class="fa-solid fa-book me-3"></i>Materias:</span>
                    <span><%= university.courses.length %></span>
                </ul>
                <div class="card-body">
                  <a href="/universidad/<%- university.id %>/facultades">
                    <div class="btn btn-outline-light w-100 py-3">
                        <span>Ver más</span>
                    </div>
                </a>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </section>
      <!-- FINAL UNIVERSIDADES -->
      <!-- SECCIÓN CONTENIDO 1 -->
      <section class="container p-3 p-md-4 p-lg-5 mb-5">
        <div class="row p-4" style="background-color: rgba(255,255,255,0.1);">
          <div data-aos="fade" data-aos-duration="1500" class="col-12 col-md-6 home__content1-imageContainer">
            <img src="images/home/home1_img.png" alt="Ilustración">
          </div>
          <div data-aos="fade-left" data-aos-duration="1500"  class="col-12 col-md-6 home__content1-data p-5">
            <h2 class="text-center text-light">Llega preparado a los exámenes</h2>
            <p class="text-center text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corporis illum tempora enim ea eligendi veniam, cupiditate beatae consequuntur minus, ex totam perferendis commodi et. In nesciunt rem quasi, non, impedit sint saepe, ea tenetur neque nemo recusandae labore omnis?</p>
            <div class="home__content1-buttonContainer">
              <a href="/usuarios/registro">
                <div class="button__dark">
                    <span>Registrarme</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- FINAL CONTENIDO 1 -->
      <!-- SECCIÓN ÚLTIMAS AGREGADAS -->
      <section class="border mb-5 bg-white rounded" data-aos="fade-up" data-aos-duration="1500">
        <div class="border-bottom p-3">
          <h3 >ÚLTIMAS AGREGADAS</h3>
          <p class="home__last-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, deleniti vel voluptatum repellendus ut maiores, expedita dolore ipsum earum explicabo minima quidem fugit, maxime eligendi placeat illum eius inventore nihil?</p>
        </div>
        <%- include('./partials/slider', { 
          sliderArray: locals.lastestCourses
        }); %> 
      </section> 
      <!-- FINAL ÚLTIMAS AGREGADAS -->
      <!-- CAROUSEL -->
     <!--  <div id="carouselExampleInterval" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="carousel-item--container">
              <div class="carousel-item__imageContainer">
                <img src="images/banners/banner-prueba.jpg" alt="Banner">
              </div>
              <div class="carousel-item__dataContainer" data-aos-delay="500" data-aos="fade-up" data-aos-duration="2000">
                <h2 >Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, tenetur!</p>
                <button class="button__light">Registrarme</button>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <div class="carousel-item--container">
              <div class="carousel-item__imageContainer">
                <img src="images/banners/banner-prueba.jpg" alt="Banner">
              </div>
              <div class="carousel-item__dataContainer">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, tenetur!</p>
                <button class="button__light">Registrarme</button>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <div class="carousel-item--container">
              <div class="carousel-item__imageContainer">
                <img src="images/banners/banner-prueba.jpg" alt="Banner">
              </div>
              <div class="carousel-item__dataContainer">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, tenetur!</p>
                <button class="button__light">Registrarme</button>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
      <!-- FINAL CAROUSEL -->
      <!-- SECCIÓN CONTENIDO 2 -->
      <section class="home__content2--container mb-0">
        <div data-aos="fade-up" data-aos-duration="750" class="home__content2--item">
          <i class="fa-solid fa-award"></i>
          <p>Contenido de calidad</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="1250" class="home__content2--item">
          <i class="fa-solid fa-ranking-star"></i>
          <p>El más completo</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="1750" class="home__content2--item">
          <i class="fa-solid fa-person-chalkboard"></i>
          <p>Los mejores docentes</p>
        </div>
      </section>
      <!-- FINAL CONTENIDO 2 -->
      <!-- SECCIÓN MATERIAS -->
   <!--    <section class="container shadow p-3 bg-white rounded" data-aos="fade-up" data-aos-duration="1500">
        <nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Materia 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Materia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Materia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Materia</a>
            </li>
          </ul>
        </nav>
        <div class="home__course--content">
          <div class="home__course--content-info border-bottom pt-4 pb-3">
            <h2>Materia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos odio obcaecati debitis, maxime possimus expedita. Corporis ipsa id, minus ea velit temporibus nesciunt nobis quaerat, rerum voluptas veritatis sit dolores.</p>
          </div>
        </div>
        <%- include('./partials/slider', { 
          sliderArray: locals.lastestCourses
        }) %> 
      </section> -->
      <!-- FINAL MATERIAS -->
      <!-- SECCIÓN CONTACTO -->
      <section class="container home__contact-container" id="contacto">
        <div class="row">
          <div class="col-md-6" data-aos="fade" data-aos-duration="1500" >
            <h1>CONTACTANOS</h1>
            <p>Envianos un mensaje con tu consulta y en breve te responderemos</p>
            <div class="home__contact-imgWrapper">
              <img src="images/home/home2_img-contacto.png" alt="Ilustración de contacto">
            </div>
          </div>
          <div class="col-md-6 container home__contact-formWrapper" data-aos="fade-left" data-aos-duration="1500" >
            <form id="form">
              <div class="mb-3">
                <input type="text" id="inputName" class="form-control" name="name" placeholder="Nombre y apellido">
                <small id="nameErrors" class="text-danger"></small>
              </div>
              <div class="mb-3">
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Correo electrónico">
                <small id="emailErrors" class="text-danger"></small>
              </div>
              <div class="mb-3">
                <textarea class="form-control" id="message" rows="3" name="message" placeholder="Escribe tu consulta"></textarea>
                <small id="messageErrors" class="text-danger"></small>
              </div>
              <div class="home__contact-form-buttonContainer">
                <button class="button__dark" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- FINAL CONTACTO -->
    </main>
    <%- include('./partials/wappbtn') %> 
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
    <script src="/javascripts/slider.js"></script>
    <script src="/javascripts/home/contactForm.js"></script>
  </body>
</html>
