<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Exámen'
  }) %> 

<body class="test">
  <%- include('./partials/header') %> 
  <main class="container">

    <div class="container">
      <div class="row">
        <% if (tests.length) { %>
          <% tests.forEach(test => { %>
            <!-- Download card -->
            <div class="col-12 col-md-6 col-xl-4 p-2 mb-2">
              <div class="card shadow">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title"><i class="fas fa-user-clock"></i> <%= test.name %></h5>
                  </div>
                </div>
                <div class="card-body">
                 
                       
                          <ul class="list-group list-group-flush text-bg-dark">
                            <li class="list-group-item d-flex justify-content-between">
                              <span><i class="fas fa-question-circle"></i> Preguntas:</span>
                              <span><%=test.questions.length%></span> 
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                              <span><i class="fas fa-clock"></i> Tiempo:</span><span><%=test.time%> min</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                              <% if (results.find(result => result.testId == test.id)) { %>
                                <span><i class="fa fa-check-circle" aria-hidden="true"></i> Último puntaje:</span><span><%= results.find(result => result.testId == test.id).score %>/<%= results.find(result => result.testId == test.id).totalScore%> en <%= results.find(result => result.testId == test.id).time %> min</span>
                              <% }else{ %>
                                <span><i class="fa fa-info-circle" aria-hidden="true"></i> Aún no has hecho este simulacro</span>
                                
                              <% } %>
                            </li>
                          
                        </ul>
                       
                        <%- include('./partials/modal/modalTest',{
                          test
                        }) %> 
                </div>
                <div class="card-footer text-end">
                  <button id="btn-test<%= test.id %>" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#viewTest<%= test.id %>">
                    Iniciar simulacro                            
                  </button>
                </div>
              </div>
            </div>
            <!-- END Download card -->
            <% }) %>
        <% }else{ %>
          <p class="alert alert-warning">El curso aún no tiene simulacros de exámen agregados</p>
        <% } %>
    </div>
  </div>
    
  </main>
  <%- include('./partials/modal/modal') %> 
  <%- include('./partials/wappbtn') %> 
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %>
  <script src="/javascripts/slider.js"></script>
  <script src="/javascripts/courseContent.js"></script>
  <script>
    document.oncontextmenu = () => false;
  </script>
</body>
</html>
