<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Universidad'
  }) %> 

  <body class="university"  >
    <%- include('./partials/header') %> 
    <main class="university__main-wrapper" >
        <h1 class="text-center border-bottom mb-3"><%= university.name %> - <%= university.acronym %></h1>
        <h2 class="text-center">Facultades y carreras</h2>
        <section class="container university__school-wrapper">
            <div class="row">
                <% university.faculties.forEach((faculty, index)=> { %>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        <div class="card border border-0 shadow p-2 " >
                          <!--   <div class="card-body border-bottom">
                                <h5 class="card-title"><%- faculty.name %> - (<%- faculty.acronym %>) </h5>
                            </div> -->
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-heading<%- index %>">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%- index %>" aria-expanded="false" aria-controls="flush-collapseOne">
                                      <div class="d-flex flex-column flex-md-row gap-3 align-items-center">
                                        <img src="/images/logos/<%= faculty.university.image %>" class="img-fluid" width="60px" alt="">
                                        <span>
                                          <%- faculty.name %> (<%- faculty.acronym %>)

                                        </span>
                                      </div>
                                    </button>
                                  </h2>
                                  <div id="flush-collapse<%- index %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%- index %>" data-bs-parent="#accordionFlushExample">

                                    <div class="list-group">
                                      <% faculty.careers.sort((a,b) => a.name > b.name ? 1 : a.name < b.name  ? -1 : 0).forEach(career => { %>
                                        <a href="#" class="list-group-item list-group-item-action"  onclick=<%-`showCareerContent(${career.id})`%> data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-check me-2"></i><%- career.name %></a>
                                    <% }) %>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/modal/modal') %> 
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
    <script src="/javascripts/Modals/careers.js"></script>
  </body>
</html>


