<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Selección de materias'
  }) %> 

<body class="coursesSelection bg-secondary bg-gradient">
  <%- include('./partials/header') %> 
    <main class="container p-1 p-md-3">
        <section class="row justify-content-center align-items-center p-md-3 bg-white">
            <div class="col-12">
                <div class="container">
                    <div class="row border rounded p-3">
                        <div class="col-md-6">
                            <h5>Con tu membresía <strong><%- userMembership.name %></strong> puedes seleccionar hasta <span id="userMembershipQuota"><%= userMembership.quota %></span> materia/s</h5>
                            <p class="alert alert-warning">Al realizar y confirmar la selección, no podrás modificarla hasta el <strong><%= userMembershipExpires %></strong> cuando renueves tu membresía. ¡Elegí bien!</p>
                        </div>
                        <div class="col-md-6 border-start">
                            <h5 class="border-bottom p-2 mb-2">Tus materias activas <span><%= userMembershipInfo.activesUserCourses %> de un total de <%= userMembershipInfo.membershipQuota %>  </span></h5>
                            <% activeUserCourses.forEach(course => { %>
                                <a href="/materia/contenido/<%- course.id %>"><span class="badge rounded-pill text-bg-success fs-4"><%- course.name %></span></a>
                            <% }) %>
                        </div>
                    </div>
                    
                    
                    <div class="row border rounded p-3 mt-3">
                        <div class="col-12 col-md-4 p-2">
                            <label for="university">1- Elige universidad</label>
                            <select class="form-select" name="university" id="university">
                                <option value="">Elige universidad</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 p-2">
                            <label for="faculty">2- Elige facultad</label>
                            <select class="form-select" name="faculty" id="faculty">
                                <option value="">Elige facultad</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 p-2">
                            <label for="career">3- Elige carrera</label>
                            <select class="form-select" name="career" id="career">
                                <option value="">Elige carrera</option>
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-outline-warning float-end" id="btn-clear">Limpiar búsqueda</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-9 p-3 p-md-3 mt-2" id="coursesWrapper">
                        <div class="container border rounded p-1 p-md-3 h-100">
                            <h4 class="border-bottom pb-1">4- Elige tus materias</h4>
                            <div class="row" id="coursesContainer"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 p-3 p-md-3 mt-2">
                        <div class="container border rounded p-1 p-md-3">
                            <h5 class="border-bottom pb-1">Materias elegidas</h5>
                            <div class="row" id="selectedCoursesContainer"></div>
                            <button class="btn btn-outline-secondary" id="btnCoursesConfirm">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </main>
    <script src="/javascripts/profile/userCoursesSelection.js"></script>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
 </body>
</html>
