<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Perfil de usuario'
  }) %> 

<body class="profile">
  <%- include('./partials/header') %> 
  <main class="container py-5">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto ">
        <div class="card shadow">
          <div class="card-body">
    <!-- data-aos-delay="500" data-aos="fade-up" data-aos-duration="2000" -->
    <h2 class="mx-auto p-2 fs-3 text-center" data-aos="fade-right" data-aos-duration="1000">¡Hola <%= user.name %>!</h2>
    <nav class="">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" data-aos="fade" data-aos-duration="1000" role="presentation">
          <button class="nav-link" onclick="setHash('data')" id="data-tab" data-bs-toggle="tab" data-bs-target="#datosPersonales-tab-pane" type="button" role="tab" aria-controls="datosPersonales-tab-pane" aria-selected="true">Datos personales</button>
        </li>
        <li class="nav-item" data-aos="fade" data-aos-duration="1000" role="presentation">
          <button class="nav-link" onclick="setHash('membership')" id="membership-tab" data-bs-toggle="tab" data-bs-target="#membresia-tab-pane" type="button" role="tab" aria-controls="membresia-tab-pane" aria-selected="false">Membresías</button>
        </li>
        <li class="nav-item" data-aos="fade" data-aos-duration="1000" role="presentation">
          <button class="nav-link" onclick="setHash('referred')" id="referred-tab" data-bs-toggle="tab" data-bs-target="#referidos-tab-pane" type="button" role="tab" aria-controls="referidos-tab-pane" aria-selected="false">Mis referidos</button>
        </li>
      </ul>
    </nav>
    <div class="tab-content bg-white pt-3 py-2 " id="myTabContent">
      <!-- Datos personales -->
      <section class="tab-pane fade show active profile__mainContainer " id="datosPersonales-tab-pane" role="tabpanel" aria-labelledby="datosPersonales-tap" tabindex="0">
        <div class="container profile__formContainer">
          <div class="container">
              <form id="personalDataForm" action="/usuario/perfil?_method=PUT" method="POST" class="row">

              <div class="col-12 col-md-6 p-2 ">
                <ul class=" list-group list-group-flush fs-5">
                  <li class=" list-group-item">
                    <span>Nombre:</span> <strong><%= user.name %></strong>
                  </li>
                  <li class=" list-group-item">
                    <span>Apellido:</span> <strong><%= user.surname %></strong>
                  </li>
                  <li class=" list-group-item">
                    <span>Email:</span> <strong><%= user.email %></strong>
                  </li>
                  <li class=" list-group-item">
                    <span>Fecha de ingreso:</span> <strong><%= moment(user.createdAt).format('DD-MM-YYYY') %></strong>
                  </li>
                </ul>
              </div>
                <div class="col-12 col-md-6 p-2">
                  <ul class="list-group list-group-flush fs-5">
                    <li class=" list-group-item border-0 d-flex gap-2 flex-wrap">
                      <small>Fecha de nacimiento:</small>
                      <input type="date" class="form-control" name="birthday" id="birthday" value="<%= moment(user.birthday).utc().format('YYYY-MM-DD')%>">
                  </li>
                    <li class=" list-group-item border-0 d-flex gap-2 flex-wrap">
                      <small>Provincia:</small>  
                      <select class="form-select" id="provinceSelect" name="province">
                        <option selected hidden value="">Selecciona tu provincia</option>
                        <% provincias.sort((a,b) => a.nombre > b.nombre ? 1 : a.nombre <  b.nombre ? -1 : 0).forEach(provincia => { %>
                          <option value="<%- provincia.nombre %>" <%= user.province === provincia.nombre ? "selected" : "" %> ><%- provincia.nombre %> </option>
                        <% }) %>
                      </select>
                    </li>
                    <li class=" list-group-item border-0 d-flex gap-2 flex-wrap">
                      <small>Localidad:</small> 
                      <select class="form-select" id="citiesSelect" name="city">
                        <% if (user.city) { %>
                          <option selected value="<%= user.city %>"><%= user.city %> </option>
                        <% } else { %>
                          <option selected hidden value="">...</option>
                        <% } %>
                      </select>
                    </li>
                  </ul>
                 
                </div>
               
                <div class="col-12 profile__buttonContainer">
                  <button class="button__dark" type="submit">Guardar</button>
                </div>
              </form>
          </div>
         
        </div>
      </section>
      <!-- Membresías -->
      <section class="tab-pane fade profile__mainContainer" id="membresia-tab-pane" role="tabpanel" aria-labelledby="membresia-tap" tabindex="1">
          <% if (user.membership) { %>
            <div class="d-flex flex-column flex-lg-row justify-content-between">
            <h4>Tu membresía activa es: <span class="badge <%= user.membership.id === 1 ? 'bg-basic' : user.membership.id === 2 ? 'bg-pro' : 'bg-premium' %> "><%= user.membership.name %></span></h4>
            <p class="text-danger">Vigente hasta: <%= userMembershipExpiresDate %></p>
          </div>
          <hr>
            <% if (userActiveCourses.length > 0) { %>
              <h5 class="border-bottom alert alert-info">Tenés <span><%= userMembershipInfo.activesUserCourses %> materias activas de un total de <%= userMembershipInfo.membershipQuota %>  </span></h5>
              <div class="d-flex flex-column flex-md-row justify-content-center">
                <% userActiveCourses.forEach(course => { %>
                  <!--  <a href="/materia/contenido/<%- course.id %>"><span class="badge rounded-pill text-bg-success fs-4"><%- course.name %></span></a> -->
                  <%- include('./partials/cardCourse',{
                     course
                  }) %> 
                 <% }) %>
              </div>
            
              <% if (userMembershipInfo.quotasAvailable !== 0) { %>
                <p class="alert alert-warning mt-4">Aún tienes <strong class="fs-5"><%= userMembershipInfo.quotasAvailable %> materias disponibles</strong>. Acordate que tenés 30 días para hacerlo desde la fecha de alta de tu membresía. Una vez realizada la selección de materias no podrás cambiarlas hasta la próxima renovación.</p>
                <a href="/materia/seleccion?userId=<%= session.user.id %>" class="button__dark float-end">Elegir materias</a>
              <% } %>
            <% } else { %>
              <p class="alert alert-warning mt-4">Aún no elegiste tus materías. Acordate que tenés 30 días para hacerlo desde la fecha de alta de tu membresía. Una vez realizada la selección de materias no podrás cambiarlas hasta la próxima renovación.</p>
            <a href="/materia/seleccion?userId=<%= session.user.id %>" class="button__dark float-end">Elegir materias</a>
            <% } %>
          <% } else { %>
            <p class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Aún no tienes una membresía activa. Elije la que mejor que se adapte a ti.</p>
            <!-- <h4 class="text-center mb-4">Elije la que mejor se adapte a ti</h4> -->
            <div class="d-flex flex-wrap justify-content-between gap-4 gap-lg-4" data-aos="fade-up" data-aos-duration="1000">
              <% memberships.forEach((membership,index) => { %>
                  <div class="d-flex flex-column shadow rounded p-2 membershipCard <%- membership.name %> position-relative">
                    <% if (index%2 !== 0) { %>
                      <img src="/images/specialOffer.png" alt="" width="35%">
                    <% } %>
                   
                    <h2 class="text-center membershipCard__name   border-bottom mb-3 <%- membership.name %>"><%- membership.name %> </h2>
                      <p class="text-center display-2 text-white mt-4"><strong class="">$ <%- membership.price %></strong></p>

                      <p class=" text-center fs-5 fw-light text-white">Acceso a todo el contenido <br> de <span class="fs-2"><%= membership.quota %></span> materia<%= membership.quota>1?'s':null %>  por <span class="fs-2"><%= membership.days %></span>  días. </p>
                   
                    <div class="d-flex justify-content-center align-items-center p-2">
                      <a class="button__dark button__membership" href="/subscription/<%- membership.order %>">Elegir</a>
                      <!-- <a class="button__dark button__membership" href="<%- membership.mp_checkout %>" target="_blank">Elegir</a> -->
                    </div>
                   </div>
                   
              
              <% }) %>
            </div>

          <% }  %>
         
      </section>
      <!-- Referidos -->
      <section class="tab-pane fade profile__mainContainer px-3" id="referidos-tab-pane" role="tabpanel" aria-labelledby="referidos-tap" tabindex="2">
        <div class="container">
          <div class="row">
            <% if (activeReferredsQuantity === 3) { %>
              <h3>¡Felicitaciones, 3 de tus referidos se registraron en HQ!</h3> 
              <p>Gracias a eso, ganaste una membresía <span class="badge fs-5 bg-basic">BASIC</span></p>
            <% } else if(activeReferredsQuantity === 5) { %>
                <h3>¡Felicitaciones, 5 de tus referidos se registraron en HQ!</h3> 
                <p>Gracias a eso, ganaste una membresía <span class="badge fs-5 bg-pro">PRO</span></p>
            <% } else if(activeReferredsQuantity === 7) { %>
              <h3>¡Felicitaciones, 7 de tus referidos se registraron en HQ!</h3> 
              <p>Gracias a eso, ganaste una membresía <span class="badge fs-5 bg-premium">PREMIUM</span></p>
              <% } else { %>
                <p class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Referí hasta 7 personas y ganá una membresía gratuíta.</p>

<!--               <p>Referí hasta 4 personas y ganá una membresía! </p>
 -->            <% } %>
            <div class="col-12 col-md-4 p-2">
              <h3 class="border-bottom">Referir</h3>
              <form action="/referidos" method="post" id="referredForm">
                <div class="mb-3">
                  <label for="nameReferred" class="form-label">Nombre*</label>
                  <input type="text" class="form-control" name="name" id="nameReferred" <%= (activeReferredsQuantity === 5) ? "disabled" : "" %> value="<%= locals.old && old.name %>">
                  <small class="text-danger" id="nameReferredError"></small>
                  <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %></small>
                  <% } %>
                </div>
                <div class="col-12 mb-3">
                  <label for="emailReferred" class="form-label">Email*</label>
                  <input type="text" class="form-control" name="email" id="emailReferred" <%= (activeReferredsQuantity === 5) ? "disabled" : "" %> value="<%= locals.old && old.email %>">
                  <small class="text-danger" id="emailReferredError"></small>
                  <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %></small>
                  <% } %>
                </div>
                <div class="col-12 mb-3 register__buttonContainer">
                  <% if (locals.errors && errors.custom) { %>
                    <small class="text-danger"><%= errors.custom.msg %></small>
                  <% } %>
                  <small class="text-danger" id="submitReferredError"></small>
                  <button class="btn btn-dark" type="submit" id="referredButton" <%= (activeReferredsQuantity === 5) ? "disabled" : "" %>>Agregar referido</button>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-8 p-2">
              <h3 class="border-bottom">Mis Referidos</h3>
              <div class="container">
                <% if (user.referreds.length > 0) { %>
                  <ol class="list-group list-group-numbered row flex-row">
                    <% user.referreds.forEach(referred => { %>
                      <div class="p-2 col-12 col-lg-6 ">
                        <li class="p-2 shadow-sm referredContainer">
                          <div>
                            <span class="referredName"><%- referred.name %></span> | <span class="referredEmail"><%- referred.email %></span>
                          </div>
                          <span class="referredActive">
                            <% if (referred.active) { %>
                              <i class="fa-solid fa-check text-success"></i>
                            <% } else {%>
                              <i class="fa-regular fa-clock text-primary"></i> 
                            <% } %>
                          </span>  
                        </li>
                      </div>
                    <% }) %>
                  </ol>
                <% } else {%>
                  <p class="text-primary">Aún no tienes referidos</p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
  </div>
</div>
  </main>
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
  <script src="/javascripts/Profile/referred.js"></script>
  <script src="/javascripts/Profile/navLinks.js"></script>
  <script src="/javascripts/Profile/personalData.js"></script>
</body>
</html>
