<!DOCTYPE html>
  <%- include('./partials/head', {
    title : 'Login'
  }) %> 

<body class="login">
  <%- include('./partials/header') %> 
  <main class="container login__mainContainer">
    <div class="container shadow rounded p-5 login__formContainer">
      <div class="login__logoContainer">
        <img src="/images/logos/LOGO HQ.png" alt="Logo HQ" class="w-100">
      </div>
      <h3 class="text-center mt-4">Inicio de sesión</h3>
      <hr>
      <div id="gSignInWrapper" >
        <a href="/usuario/auth/google" class="googleSigninButton" >
          <div id="customBtn" class="p-0 border-1 bg-primary shadow-none">
              <span class=" rounded-1 icon"></span>
            <span class="text-bg-primary me-auto ms-2">Ingresá con Google</span>
          </div>
        </a>
        </div>
      <h6 class="text-center my-3">ó con tus credenciales</h6>
      <form action="/usuario/login" method="POST" class="row">
        <div class="col-12">
          <label for="email" class="form-label">Email*</label>
          <input type="email" class="form-control" name="email" id="email" value="">
          <small class="feedback text-danger"></small>
          <% if (locals.errors && errors.email) { %>
            <small class="text-danger"><%= errors.email.msg %></small>
          <% } %>
        </div>
        <div class="col-12">
          <label for="password" class="form-label">Contraseña*</label>
          <input type="password" class="form-control" name="password" id="password" value="">
          <small class="feedback text-danger"></small>
          <% if (locals.errors && errors.password) { %>
            <small class="text-danger"><%= errors.password.msg %></small>
          <% } %>
        </div>
        <div class="col-12 mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sessionCheck" value="" id="check">
            <label class="form-check-label" for="check">
              Mantener mi sesión en este equipo
            </label>
            <div>
              <small class="feedback text-danger"></small>
              <% if (locals.errors && errors.custom) { %>
                <small class="text-danger"><%= errors.custom.msg %></small>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3 login__buttonContainer">
          <button class="button__dark w-100" type="submit">Iniciar sesión</button>
        </div>
      
      </form>
      <p class="text-center mt-4">
        <a href="/usuario/registro">Aún no tengo cuenta</a>
      </p>
    </div>
  </main>
  <%- include('./partials/wappbtn') %> 
  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>
